<div>
  <div>
    <div class="main-sec">
      <div class="w-container">
        <div class="test-prog-bar">
          <div class="house-block">
            <%= image_tag "house.png",                      class: "house"    %>
            <%= image_tag "color-house-parts/roof.png",     class: "roof"     %>
            <%= image_tag "color-house-parts/fence.png",    class: "fence"    %>
            <%= image_tag "color-house-parts/addition.png", class: "addition" %>
            <%= image_tag "color-house-parts/chimney.png",  class: "chimney"  %>
          </div>
          <h2>Progress</h2>
          <div class="bar">
            <div class="bar small waypoint"></div>
          </div>
          <h6 class="progress-percent">0%</h6> 
        </div>
        <div class="step first-step" id="select-renovations">
          <h1>How would you like to improve your house?</h1>
          <p>Give us a few details about the type of improvement you want done.</p>
          <div class="w-form">
            <form class="form" name="email-form" data-name="Email Form">
              <label class="label" for="name">Pick an improvement:</label>
              <div class="w-row">
<!--              
                <div class="w-col w-col-3 item-col"><a class="button btn-outline alt-button-outline fence-btn" href="#">Fencing</a>
                </div>
                <div class="w-col w-col-3 item-col"><a class="button btn-outline alt-button-outline roof-btn" href="#">Roofing</a>
                </div>
                <div class="w-col w-col-3 item-col"><a class="button btn-outline alt-button-outline repairs-btn" href="#">Chimney</a>
                </div>
-->                
                <div class="w-col w-col-3 item-col"><a class="button btn-outline alt-button-outline addition-btn" href="#">Additions</a>
                </div>
              </div>
              <a class="btn-fill" href="#enter-address">next</a>
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
        <div class="step ha-waypoint" id="enter-address" data-animate-down="17%" data-animate-up="0%">
          <h1>Enter your address</h1>
          <p>We will use this information to help you plan out your changes.</p>
          <div class="w-form">
            <form class="form" name="email-form" data-name="Email Form">
              <label class="label" for="name">Your address:</label>
              <input class="w-input field" type="text" placeholder="Enter your address" name="name" data-name="Name"></input><a class="btn-fill" href="#renovation-rules">submit</a>
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-container container">
        <div class="w-clearfix">         
          <div class="step ha-waypoint" id="renovation-rules" data-animate-down="50%" data-animate-up="34%">
            <h1>These are the guidelines for your renovation project</h1>
            <h2 class="grant-total permits-req">Permits Required</h2>
            <div class="w-row">
              <div class="w-col w-col-4">
                <div class="grant-block">
                  <h3 class="grant-h3 top-grant-h3">GENERAL</h3>
                  <p class="small-text">Required for all residential additions project. Carries specific construction and material requirements. Repairs can be done by homeowner or contractor.</p>
                  <p class="small-text"><b>Application cost:</b> $26</p>
                  <p class="small-text"><b>Required documents:</b> <br>Site plan, permit application</p>
                  <p class="small-text"><b>Approximate time:</b> <br>2 weeks</p>
                </div><a class="btn-fill grant-btn" href="#summary">apply</a>
              </div>                
              </div>
            </div>
          </div>    

  <div class="w-container">
    <div class="w-form step ha-waypoint">
            <h1>General Permit Application</h1>
      <form id="email-form" name="email-form" data-name="Email Form">
        <label for="air-conditioning-heating-system">Air conditioning heating system:</label>
        <select class="w-select" id="air-conditioning-heating-system" name="air-conditioning-heating-system" data-name="Air conditioning heating system" required="required">
          <option value="">Select one...</option>
          <option value="First">None</option>
          <option value="Second">Wall Unit</option>
          <option value="Third">Extended from Main House</option>
          <option value="Fourth">New Split System</option>
        </select>
        <label>Contractor used?</label>
        <div class="w-radio">
          <input class="w-radio-input" id="yes" type="radio" name="radio" value="Yes" data-name="Radio">
          <label class="w-form-label" for="yes">Yes</label>
        </div>
        <div class="w-radio">
          <input class="w-radio-input" id="radio-2" type="radio" name="radio" value="Radio 2" data-name="Radio">
          <label class="w-form-label" for="radio-2">No</label>
        </div>
        <label for="contractor-name">Contractor Name:</label>
        <input class="w-input" id="contractor-name" type="text" placeholder="Example Text" name="contractor-name" required="required" data-name="Contractor Name">
        <label for="contractor-id">Contractor ID#:</label>
        <input class="w-input" id="contractor-id" type="text" placeholder="Example Text" name="contractor-id" required="required" data-name="Contractor ID#">
        <label for="license">License #:</label>
        <input class="w-input" id="license" type="text" placeholder="Example Text" name="license" required="required" data-name="License #">
        <label for="phone">Phone:</label>
        <input class="w-input" id="phone" type="text" placeholder="Example Text" name="phone" required="required" data-name="Phone">
        <label for="fax">Fax:</label>
        <input class="w-input" id="fax" type="text" placeholder="Example Text" name="fax" required="required" data-name="Fax">
        <label for="email">Email:</label>
        <input class="w-input" id="email" type="text" placeholder="Example Text" name="email" required="required" data-name="Email">
        <label for="work-summary">Work Summary:</label>
        <textarea class="w-input" id="work-summary" placeholder="Example Text" name="work-summary" data-name="Work Summary"></textarea>
        <label>Escrow?</label>
        <div class="w-radio">
          <input class="w-radio-input" id="yes-2" type="radio" name="escrow" value="Yes" data-name="Escrow">
          <label class="w-form-label" for="yes-2">Yes</label>
        </div>
        <div class="w-radio">
          <input class="w-radio-input" id="no" type="radio" name="escrow" value="No" data-name="Escrow">
          <label class="w-form-label" for="no">No</label>
        </div>
        <label for="job-cost">Job cost:</label>
        <input class="w-input" id="job-cost" type="text" placeholder="Example Text" name="job-cost" required="required" data-name="Job cost">
        <input class="w-button btn-fill" type="submit" value="Submit" data-wait="Please wait...">
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
                  
            <div class="step ha-waypoint" id="summary" data-animate-down="100%" data-animate-up="84%">
              <h1 class="complete-message">You're done!</h1>
              <h1>These are your next steps</h1>
              <h2 class="alt-h1">1. Review and print project info</h2>
              <h2 class="alt-h1">555 Saint Mary's San Antonio, TX&nbsp;78204</h2>
              <div class="w-row">
                <div class="w-col w-col-4">
                  <%= image_tag "house-color.png",  alt: "53321879f335a68211000248_house-color.png" %>      
                </div>
                <div class="w-col w-col-8">
                  <div class="ren-rule">
                    <h3><strong>Project details:&nbsp;</strong></h3>
                    <ul>
                      <li class="list-item"><strong>Build a Fence</strong>
                      </li>
                      <li class="list-item"><strong>Material</strong>: Wrought Iron</li>
                      <li class="list-item"><strong>Height</strong>: 6 feet</li>
                      <li class="list-item"><strong>Yard Size</strong>: 1.2 acres</li>
                    </ul>
                  </div>
                </div>
              </div>              
              <h2 class="alt-h1">2. Apply for permits</h2>
              <div class="w-row">
                <div class="w-col w-col-4">
                  <div class="grant-block">
                    <h3 class="grant-h3 top-grant-h3">GENERAL</h3>
                    <p class="small-text">Required for all residential additions project. Carries specific construction and material requirements. Repairs can be done by homeowner or contractor.</p>
                    <p class="small-text"><b>Application cost:</b> $26</p>
                    <p class="small-text"><b>Required documents:</b> <br>Site plan, permit application</p>
                    <p class="small-text"><b>Approximate time:</b> <br>2 weeks</p>
                  </div>
                </div>                
              </div>
            </div>
            <div class="w-row">
              <div class="w-col w-col-3 progress-col"></div>
              <div class="w-col w-col-9 main-col"></div>
            </div>
          </div>
        </div>