<%= f.label attribute, question %>
<% if @permit.errors[attribute].length >= 1 %>

  <!-- create an errors div to style error message and make input red -->    
  <div class="field_with_errors">
    <!-- Print out the error message (from validator) -->
    <% @permit.errors[attribute].each do | msg | %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<div class="text-field">
  <% if helper_text %>
    <p class="help-block"><%= helper_text %></p>
  <% end %>
  <% if input_addon %>
    <div class="input-group">
      <div class="input-group-addon"><%= input_addon %></div>
      <%= f.text_field attribute, class: "form-control input-lg" %>
    </div>
  <% else %>
    <%= f.text_field attribute, class: "form-control input-lg" %>
  <% end %>
</div>
