<div class="<%= attribute %>">
  <% if question %>
    <%= f.label attribute, question %>
  <% end %>

  <% error = @project.errors if local_assigns[:error].nil? %>
  <% edited_attribute = local_assigns[:nested_model].nil? ? attribute : "#{nested_model}.#{attribute}"%>

  <% if error[edited_attribute].length >= 1 %>

    <!-- create an errors div to style error message and make input red -->    
    <div class="field_with_errors">
      <!-- Print out the error message (from validator) -->
      <% error[edited_attribute].each do | msg | %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="text-field">
    <% if helper_text %>
      <p class="help-block"><%= helper_text %></p>
    <% end %>
    <% if input_addon %>
      <div class="input-group">
        <div class="input-group-addon"><%= input_addon %></div>
        <%= f.text_field attribute, placeholder: placeholder, class: "form-control input-lg"%>
      </div>
    <% else %>
      <%= f.text_field attribute, placeholder: placeholder, class: "form-control input-lg" %>
    <% end %>
  </div>
</div>