<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <h1>Enter your project details</h1>

  <!-- Room Additions section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Room Additions</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your room addition?</p>
      <label for="test-label">Size</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupRoomAdditions1" id="lessThan1000" value="lessThan1000">
          Less than 1,000 sq ft
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupRoomAdditions1" id="greaterThan1000" value="greaterThan1000">
          Greater than 1,000 sq ft
        </label>
      </div>
      <label for="test-label">Stories</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupRoomAdditions2" id="1story" value="1story">
          1 story
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupRoomAdditions2" id="2orMoreStories" value="2orMoreStories">
          2 or more stories
        </label>
      </div>            
    </div>
  </div>

  <!-- Shed/Garage Accessory Structure section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Shed/Garage</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your Shed/Garage?</p>
      <label for="test-label">Size</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupAccessory1" id="lessThan120" value="lessThan120">
          Less than 120 sq ft
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupAccessory1" id="greaterThan120" value="greaterThan120">
          Greater than 120 sq ft
        </label>
      </div>
      <label for="test-label">Stories</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupAccessory2" id="1story" value="1story">
          1 story
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupAccessory2" id="2orMoreStories" value="2orMoreStories">
          2 or more stories
        </label>
      </div>            
    </div>
  </div>

  <!-- Deck section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Deck</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your deck?</p>
      <label for="test-label">Size</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck1" id="lessThan120" value="lessThan120">
          Less than 120 sq ft
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck1" id="greaterThan120" value="greaterThan120">
          Greater than 120 sq ft
        </label>
      </div>
      <label for="test-label">Grade</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck2" id="lessThan30" value="lessThan30">
          Less than 30 inches above grade
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck2" id="moreThan30" value="moreThan30">
          More than 30 inches above grade
        </label>
      </div>  
      <label for="test-label">Dwelling Attachment</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck3" id="attachedToDwelling" value="attachedToDwelling">
          Attached to dwelling
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck3" id="notAttachedToDwelling" value="notAttachedToDwelling">
          Not attached to dwelling
        </label>
      </div>
      <label for="test-label">Exit Door</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck4" id="exitDoor" value="exitDoor">
          Serves a required exit door
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupDeck4" id="noExitDoor" value="noExitDoor">
          Does not serve a required exit door
        </label>
      </div>              
    </div>
  </div>

  <!-- Swimming Pool section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Swimming Pool</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your Swimming Pool?</p>
      <label for="test-label">Ground</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupPool1" id="inGround" value="inGround">
          Pool is in ground
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupPool1" id="aboveGround" value="aboveGround">
          Pool is above ground
        </label>
      </div>
      <label for="test-label">Water</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupPool2" id="lessThan5000" value="lessThan5000">
          Less than 5,000 gallons
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupPool2" id="moreThan5000" value="moreThan5000">
          More than 5,000 gallons
        </label>
      </div>            
    </div>
  </div>

  <!-- Carports or Outdoor Covers section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Carports or Outdoor Covers</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your Carports/Patio Covers/Porch Covers?</p>
      <label for="test-label">Metal Type</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupCovers1" id="metalType2" value="metalType2">
          It’s metal type II
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupCovers1" id="notMetalType2" value="notMetalType2">
          It’s not metal type II
        </label>
      </div>
      <label for="test-label">Wood Type</label>
      <div class="radio">
        <label>
          <input type="radio" name="groupCovers2" id="woodType5" value="woodType5">
          It’s wood type V
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupCovers2" id="notWoodType5" value="notWoodType5">
          It’s not wood type V
        </label>
      </div>            
    </div>
  </div>

  <!-- Windows section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Windows</h4>
    </div>
    <div class="panel-body">
      <p>Are you <b>only</b> replacing broken glass?</p>
      <div class="radio">
        <label>
          <input type="radio" name="groupWindows" id="yes" value="yes">
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupWindows" id="no" value="no">
          No
        </label>
      </div>           
    </div>
  </div>

  <!-- Doors section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Doors</h4>
    </div>
    <div class="panel-body">
      <p>Are you <b>only</b> replacing the existing door on current hinges?</p>
      <div class="radio">
        <label>
          <input type="radio" name="groupDoors" id="yes" value="yes">
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupDoors" id="no" value="no">
          No
        </label>
      </div>           
    </div>
  </div>

  <!-- Walls section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Walls</h4>
    </div>
    <div class="panel-body">
      <p>Are you <b>only</b> doing paint, wallpaper, or repair of sheetrock unless studs are moved or altered?</p>
      <div class="radio">
        <label>
          <input type="radio" name="groupWalls" id="yes" value="yes">
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupWalls" id="no" value="no">
          No
        </label>
      </div>           
    </div>
  </div>

  <!-- Siding Replacement section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Siding Replacement</h4>
    </div>
    <div class="panel-body">
      <p>Are you <b>only</b> placing new siding over existing siding?</p>
      <div class="radio">
        <label>
          <input type="radio" name="groupSiding" id="yes" value="yes">
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupSiding" id="no" value="no">
          No
        </label>
      </div>           
    </div>
  </div>

    <!-- Floor - Structural Repairs section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Floor - Structural Repairs</h4>
    </div>
    <div class="panel-body">
      <p>Are you <b>only</b> doing floor covering such as carpet, tile, wood/laminate flooring?</p>
      <div class="radio">
        <label>
          <input type="radio" name="groupFloors" id="yes" value="yes">
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="groupFloors" id="no" value="no">
          No
        </label>
      </div>           
    </div>
  </div>

  <!-- Intro text -->
  <div class="intro">
    <h1>Enter your address</h1>
    <p>Type your address in the box below:</p>
  </div>

  <!-- Start the address form -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "address-form"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

      <!-- address entry -->
      <div class="form-group">
        <%= f.text_field :owner_address, placeholder: "Enter your address", class: "form-control input-lg" %>
      </div>
      <!-- ./address entry -->

      <!-- submit button -->
      <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

    <% end %>
  </div><!-- ./form -->
</div> <!-- ./col-sm-9 -->