<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <h1>Enter your project details</h1>
  <%= form_for @permit, url: wizard_path, html: {name: "address-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <% @permit.errors.messages.values.each do |msg| %>
          <%msg.each do  |m| %>
            <strong><%= m %></strong>
          <%end %>
        <% end %>
      </div>
    <% end %>
    <!-- ./ error checking -->

  <!-- Room Additions section -->
  <% if @permit.addition %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Room Additions</h4>
      </div>
      <div class="panel-body">
        <p>What best describes your room addition that you are building?</p>
        <label for="test-label">Size</label>
        <div class="radio">
          <label>
            <%= f.radio_button :addition_size, 'lessThan1000', id: "lessThan1000" %>
            Less than 1,000 sq ft
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :addition_size, 'greaterThanEqualTo1000', id: 'greaterThanEqualTo1000' %>
            Greater than or eqal to 1,000 sq ft
          </label>
        </div>

        <label for="test-label">Stories</label>
        <div class="radio">
          <label>
            <%= f.radio_button :addition_num_story, '1Story', id: '1Story' %>
            1 story
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :addition_num_story, '2orMoreStories', id: '2orMoreStories' %>
            2 or more stories
          </label>
        </div>            
      </div>
    </div> 
  <% end %><!-- ./Room Additions section -->

  <!-- Shed/Garage Accessory Structure section -->
  <% if @permit.acs_struct %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Shed/Garage</h4>
      </div>
      <div class="panel-body">
        <p>What best describes your shed or garage that you are building?</p>
        <label for="test-label">Size</label>
        <div class="radio">
          <label>
            <%= f.radio_button :acs_struct_size, 'lessThanEqualTo120', id: "lessThanEqualTo120" %>
            Less than or equal to 120 sq ft
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :acs_struct_size, 'greaterThan120', id: "greaterThan120" %>
            Greater than 120 sq ft
          </label>
        </div>
        <label for="test-label">Stories</label>
        <div class="radio">
          <label>
            <%= f.radio_button :acs_struct_num_story, '1Story', id: "1Story" %>
            1 story
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :acs_struct_num_story, '2orMoreStories', id: "2orMoreStories" %>
            2 or more stories
          </label>
        </div>            
      </div>
    </div>
  <% end %><!-- ./Shed/Garage Accessory Structure -->

  <!-- Deck section -->
  <% if @permit.deck %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Deck</h4>
      </div>
      <div class="panel-body">
        <p>What best describes your deck that you are building?</p>
        <label for="test-label">Size</label>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_size, 'lessThanEqualTo120', id: "lessThanEqualTo120" %>
            Less than or equal to 120 sq ft
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_size, 'greaterThan120', id: "greaterThan120" %>
            Greater than 120 sq ft
          </label>
        </div>
        <label for="test-label">Grade</label>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_grade, 'lessThanEqualTo30', id: "lessThanEqualTo30" %>
            Less than or equal to 30 inches above grade
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_grade, 'moreThan30', id: "moreThan30" %>
            More than 30 inches above grade
          </label>
        </div>  
        <label for="test-label">Dwelling Attachment</label>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_dwelling_attach, 'attachedToDwelling', id: "attachedToDwelling" %>
            Attached to dwelling
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_dwelling_attach, 'notAttachedToDwelling', id: "notAttachedToDwelling" %>
            Not attached to dwelling
          </label>
        </div>
        <label for="test-label">Exit Door</label>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_exit_door, 'exitDoor', id: "exitDoor" %>
            Serves a required exit door
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :deck_exit_door, 'noExitDoor', id: "noExitDoor" %>
            Does not serve a required exit door
          </label>
        </div>              
      </div>
    </div>
  <% end %><!-- ./Deck section -->

  <!-- Swimming Pool section -->
  <% if @permit.pool %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Swimming Pool</h4>
      </div>
      <div class="panel-body">
        <p>What best describes your swimming pool that you are building?</p>
        <label for="test-label">Ground</label>
        <div class="radio">
          <label>
            <%= f.radio_button :pool_location, 'inGround', id: "inGround" %>
            Pool is in ground
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :pool_location, 'aboveGround', id: "aboveGround" %>
            Pool is above ground
          </label>
        </div>
        <label for="test-label">Volume</label>
        <div class="radio">
          <label>
            <%= f.radio_button :pool_volume, 'lessThanEqualTo5000', id: "lessThanEqualTo5000" %>
            Less than or equal to 5,000 gallons
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :pool_volume, 'moreThan5000', id: "moreThan5000" %>
            More than 5,000 gallons
          </label>
        </div>            
      </div>
    </div>
  <% end %><!-- ./Swimming Pool section -->

  <!-- Carports or Outdoor Covers section -->
  <% if @permit.cover %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Carports or Outdoor Covers</h4>
    </div>
    <div class="panel-body">
      <p>What best describes your carport, patio cover, or porch cover that you are building?</p>
      <label for="test-label">Material</label>
      <div class="radio">
        <label>
          <%= f.radio_button :cover_material, 'metalType2', id: "metalType2" %>
          It’s metal type II
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :cover_material, 'woodType5', id: "woodType5" %>
          It’s wood type V
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :cover_material, 'other', id: "other" %>
          Other
        </label>
      </div>            
    </div>
  </div>
  <% end %><!-- ./Carports or Outdoor Covers section -->

  <!-- Windows section -->
  <% if @permit.window %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Windows</h4>
      </div>
      <div class="panel-body">
        <p>Are you <b>only</b> replacing broken glass?</p>
        <div class="radio">
          <label>
            <%= f.radio_button :window_replace_glass, true, id: "yes" %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :window_replace_glass, false, id: "no" %>
            No
          </label>
        </div>           
      </div>
    </div>
    <% end %><!-- ./Windows section -->

  <!-- Doors section -->
  <% if @permit.door %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Doors</h4>
      </div>
      <div class="panel-body">
        <p>Are you <b>only</b> replacing the existing door on current hinges?</p>
        <div class="radio">
          <label>
            <%= f.radio_button :door_replace_existing, true, id: "yes" %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :door_replace_existing, false, id: "no" %>
            No
          </label>
        </div>           
      </div>
    </div>
  <% end %><!-- ./Doors section -->

  <!-- Walls section -->
  <% if @permit.wall %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Walls</h4>
      </div>
      <div class="panel-body">
        <p>Are you <b>only</b> doing paint, wallpaper, or repairing sheetrock without moving or altering studs?</p>
        <div class="radio">
          <label>
            <%= f.radio_button :wall_general_changes, true, id: "yes" %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :wall_general_changes, false, id: "no" %>
            No
          </label>
        </div>           
      </div>
    </div>
  <% end %><!-- ./Walls section -->

  <!-- Siding Replacement section -->
  <% if @permit.siding %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Siding Replacement</h4>
      </div>
      <div class="panel-body">
        <p>Are you <b>only</b> placing new siding over existing siding?</p>
        <div class="radio">
          <label>
            <%= f.radio_button :siding_over_existing, true, id: "yes" %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :siding_over_existing, false, id: "false" %>
            No
          </label>
        </div>           
      </div>
    </div>
  <% end %><!-- ./Siding Replacement section -->

  <!-- Floor - Structural Repairs section -->
  <% if @permit.floor %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Floor - Structural Repairs</h4>
      </div>
      <div class="panel-body">
        <p>Are you <b>only</b> doing floor covering such as carpet, tile, wood/laminate flooring?</p>
        <div class="radio">
          <label>
            <%= f.radio_button :floor_covering, true, id: "yes" %>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :floor_covering, false, id: "no" %>
            No
          </label>
        </div>           
      </div>
    </div>
  <% end %><!-- ./Floor-Structural Repairs section -->
 
  <!-- Contractor section -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Contractor</h4>
    </div>
    <div class="panel-body">
      <p>Will you be hiring a contractor to work on your project?</p>
      <div class="radio">
        <label>
          <%= f.radio_button :contractor, true, id: "yes" %>
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :contractor, false, id: "no" %>
          No
        </label>
      </div>           
    </div>
  </div><!-- ./Contractor section -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Enter your address</h4>
    </div>
    <div class="panel-body">
      <!-- Start the address form -->
      <p>Enter the address of the property you're working on.</p>


      <!-- address entry -->
      <div class="form-group">
        <%= f.text_field :owner_address, placeholder: "Enter your address", class: "form-control input-lg" %>
      </div>
    </div><!-- ./panel_body -->
  </div><!-- panel -->
 
  <!-- ./address entry -->

  <!-- submit button -->
  <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

  <% end %>
</div> <!-- ./col-sm-9 -->