<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:answer_screener) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">
  <h1>Enter your project details</h1>
  <%= form_for @permit, url: wizard_path, html: {name: "address-form"} do |f| %>
    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Sorry, there was a problem.  Please check your answers.</strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- address entry -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Enter your home address</h4>
      </div>
      <div class="panel-body">
        <!-- Start the address form -->
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Enter the address of the property you're working on.", 
                        helper_text: nil,
                        attribute: :owner_address, 
                        placeholder: "ex. 123 Main St. San Antonio, TX",
                        input_addon: nil } %>
        </div>
      </div><!-- ./panel_body -->
    </div><!-- panel -->   
    <!-- ./address entry -->

    <% if @permit.selected_addition %>
      <!-- Room Additions section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Room Additions</h4>
        </div>
        <div class="panel-body">
          <p>What best describes your room addition that you are building?</p>

            <% @permit_addition_screener.each do |attribute, details| %>

              <%= render  partial: "permit_steps/form_helper/radio", 
                          locals: { f: f, 
                                    question: details[:label], 
                                    attribute: attribute, 
                                    option:  details[:options]} %>
            <% end %>

        </div>
      </div>
      <!-- ./Room Additions section -->
    <% end %>

    <% if @permit.selected_acs_struct %>
      <!-- Shed/Garage Accessory Structure section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Shed/Garage</h4>
        </div>
        <div class="panel-body">
          <p>What best describes your shed or garage that you are building?</p>

            <% @permit_acs_struct_screener.each do |attribute, details| %>

              <%= render  partial: "permit_steps/form_helper/radio", 
                          locals: { f: f, 
                                    question: details[:label], 
                                    attribute: attribute, 
                                    option:  details[:options]} %>
            <% end %>

        </div>
      </div>
      <!-- ./Shed/Garage Accessory Structure -->
    <% end %>

    <% if @permit.selected_deck %>
      <!-- Deck section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Deck</h4>
        </div>
        <div class="panel-body">
          <p>What best describes your deck that you are building?</p>

            <% @permit_deck_screener.each do |attribute, details| %>

              <%= render  partial: "permit_steps/form_helper/radio", 
                          locals: { f: f, 
                                    question: details[:label], 
                                    attribute: attribute, 
                                    option:  details[:options]} %>
            <% end %>
               
        </div>
      </div>
      <!-- ./Deck section -->
    <% end %>

    <% if @permit.selected_pool %>
      <!-- Swimming Pool section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Swimming Pool</h4>
        </div>
        <div class="panel-body">
          <p>What best describes your swimming pool that you are building?</p>

            <% @permit_pool_screener.each do |attribute, details| %>

              <%= render  partial: "permit_steps/form_helper/radio", 
                          locals: { f: f, 
                                    question: details[:label], 
                                    attribute: attribute, 
                                    option:  details[:options]} %>
            <% end %>

        </div>
      </div>
      <!-- ./Swimming Pool section -->
    <% end %>
    
    <% if @permit.selected_window %>
      <!-- Windows section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Windows</h4>
        </div>
        <div class="panel-body">
          <p>Are you <b>only</b> replacing broken glass?</p>

          <%= render  partial: "permit_steps/form_helper/radio", 
                      locals: { f: f,
                                question: nil,
                                attribute: :window_replace_glass, 
                                option: [ { value: true, 
                                            label: "Yes" }, 
                                          { value: false, 
                                            label: "No" }]} %>         
        </div>
      </div>
      <!-- ./Windows section -->
    <% end %>

    
    <% if @permit.selected_door %>
      <!-- Doors section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Doors</h4>
        </div>
        <div class="panel-body">
          <p>Are you <b>only</b> replacing the existing door on current hinges?</p>
          <%= render  partial: "permit_steps/form_helper/radio", 
                      locals: { f: f,
                                question: nil,
                                attribute: :door_replace_existing, 
                                option: [ { value: true, 
                                            label: "Yes" }, 
                                          { value: false, 
                                            label: "No" }]} %>        
        </div>
      </div>
      <!-- ./Doors section -->
    <% end %>

    
    <% if @permit.selected_wall %>
      <!-- Walls section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Walls</h4>
        </div>
        <div class="panel-body">
          <p>Are you <b>only</b> doing paint, wallpaper, or repairing sheetrock without moving or altering studs?</p>
          <%= render  partial: "permit_steps/form_helper/radio", 
                      locals: { f: f,
                                question: nil,
                                attribute: :wall_general_changes, 
                                option: [ { value: true, 
                                            label: "Yes" }, 
                                          { value: false, 
                                            label: "No" }]} %>          
        </div>
      </div>
      <!-- ./Walls section -->
    <% end %>

    
    <% if @permit.selected_siding %>
      <!-- Siding Replacement section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Siding Replacement</h4>
        </div>
        <div class="panel-body">
          <p>Are you <b>only</b> placing new siding over existing siding?</p>

          <%= render  partial: "permit_steps/form_helper/radio", 
                      locals: { f: f,
                                question: nil,
                                attribute: :siding_over_existing, 
                                option: [ { value: true, 
                                            label: "Yes" }, 
                                          { value: false, 
                                            label: "No" }]} %>  
        </div>
      </div>
      <!-- ./Siding Replacement section -->
    <% end %>

    
    <% if @permit.selected_floor %>
      <!-- Floor - Structural Repairs section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Floor - Structural Repairs</h4>
        </div>
        <div class="panel-body">
          <p>Are you <b>only</b> doing floor covering such as carpet, tile, wood/laminate flooring?</p>

          <%= render  partial: "permit_steps/form_helper/radio",
                      locals: { f: f,
                                question: nil,
                                attribute: :floor_covering, 
                                option: [ { value: true, 
                                            label: "Yes" }, 
                                          { value: false, 
                                            label: "No" }]} %>       
        </div>
      </div>
      <!-- ./Floor-Structural Repairs section -->
    <% end %>
   
    <!-- Contractor section -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Contractor</h4>
      </div>
      <div class="panel-body">
        <p>Will you be hiring a contractor to work on your project?</p>
        <%= render  partial: "permit_steps/form_helper/radio", 
                    locals: { f: f,
                              question: nil,
                              attribute: :contractor, 
                              option: [ { value: true, 
                                          label: "Yes" }, 
                                        { value: false, 
                                          label: "No" }]} %>            
      </div>
    </div><!-- ./Contractor section -->

    <!-- submit button -->
    <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

  <% end %>
</div> <!-- ./col-sm-9 -->