<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>Please read these terms and sign your permit online</h1>
  </div>

    <!-- Check for errors -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Sorry, there was a problem. Please check your answers.</strong></p>
      </div>
    <% end %>

    <!-- Other requirements -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>There may be other requirements</h4>
        </div>

        <div class="panel-body">
            <%= form_for @permit, url: wizard_path, html: { name: "confirm-form" } do |f| %>

              <p>Additional permits, inspections and documents may be required to complete your project. Separate permits are required for electrical, plumbing and other parts of the project.</p>
              <p>For certain projects, an engineer may be required to inspect your foundation after all inspections have been completed.</p>
              <p><strong>If you have any questions or are unsure about this information, please call Development Services Department at (210) 207-1111.</strong></p>

                <!-- check if there's an error for this field -->
                <% if @permit.errors.messages[:accepted_terms] != nil %>
                  <div class="alert alert-danger">
                    <p><strong><%= @permit.errors.messages[:accepted_terms][0] %></strong></p>
                  </div>
                <% end %>

              <div class="checkbox">
                <%= f.label :accepted_terms, for: "accepted-terms" do %>
                  <%= f.check_box :accepted_terms, value: "true", class: "", id: "accepted-terms" %> I understand that other permit and inspections may be required
                <% end %>
              </div>

        </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Agree to the permit application terms</h4>
        </div>

        <div class="panel-body">
                <p>I have read the rules and information listed on this online and know the same to be true and correct and hereby agree that if the permit is issued, all provisions of the City Ordinance will be complied with whether herein specified or not. I understand that the permit belongs to the property owner and I am an authorized agent.</p>
                <p><strong>If you agree, please type your full name as you listed it on the permit application (<%= @permit.owner_name %>) in the box below.</strong></p>

                <% if @permit.errors.messages[:confirmed_name] != nil %>
                  <div class="alert alert-danger">
                    <p><strong><%= @permit.errors.messages[:confirmed_name][0] %></strong></p>
                  </div>
                <% end %>

                <%= f.text_field :confirmed_name, value: "", placeholder: "Enter your name", class: "form-control input-lg" %>

        </div><!-- ./panel_body -->
    </div><!-- ./panel -->


                  
    <div class="form-group">
        <%= f.submit "I agree", class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>

</div><!-- ./col-sm-9 -->

<!-- Unchecks the checkbox on load -->
<script>
$(document).ready(function(){
    $('#accepted-terms').prop('checked',false);
});
</script>