<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:confirm_terms) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('confirm_terms.intro_text') %></h1>
  </div>

  <div class="form">
    <%= form_for @permit, url: wizard_path, html: { name: "confirm-form" } do |f| %>

    <!-- Check for errors -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong><%= t('defaults.error_statement') %></strong></p>
      </div>
    <% end %>
    <!-- ./Check for errors -->

    <!-- Other requirements -->
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4><%= t('confirm_terms.requirement.heading') %></h4>
      </div>

      <div class="panel-body">

          <p><%= t('confirm_terms.requirement.body') %></p>
          
          <!-- Only display slab information if this project will have a foundation -->
          <% if @permit.addition || @permit.acs_struct || @permit.cover %>
            <p><%= t('confirm_terms.requirement.engineer_letter_html') %></p>              
          <% end %>

          <p><strong><%= t('confirm_terms.requirement.dsd_contact') %></strong></p>

          <!-- check if there's an error for this field -->
          <% if @permit.errors[:accepted_terms].length >= 1 %>
            <div class="alert alert-danger">
              <% @permit.errors[:accepted_terms].each do | msg | %>
                <p><strong><%= msg %></strong></p>
              <% end %>
            </div>
          <% end %>

          <div class="checkbox">
            <%= f.label :accepted_terms do %>
              <%= f.check_box :accepted_terms %> <%= t('confirm_terms.requirement.accept_text') %>
            <% end %>
          </div>

      </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
          <h4><%= t('confirm_terms.signature.heading') %></h4>
      </div>

      <div class="panel-body">
        <p><%= t('confirm_terms.signature.body') %></p>

        <%= f.label :confirmed_name do %>                
          <p><strong><%= t('confirm_terms.signature.confirmed_name.text', name: @permit.owner_name) %></strong></p>

          <!-- check if there's an error for this field -->
          <% if @permit.errors[:confirmed_name].length >= 1 %>
            <div class="alert alert-danger">
              <% @permit.errors[:confirmed_name].each do | msg | %>
                <p><strong><%= msg %></strong></p>
              <% end %>
            </div>
          <% end %>

          <%= f.text_field :confirmed_name, value: "", placeholder: t('confirm_terms.signature.confirmed_name.placeholder'), class: "form-control input-lg" %>
        <% end %>
      </div><!-- ./panel_body -->
    </div><!-- ./panel -->
                  
    <div class="form-group submit-form">
      <%= f.submit t('confirm_terms.submit'), class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>

</div><!-- ./col-sm-9 -->

