<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:display_summary) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permit_steps.display_summary.intro.heading') %></h1>
    <p><%= t('views.permit_steps.display_summary.intro.body') %></p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4><%= t('views.permit_steps.display_summary.permit.heading') %></h4>
    </div>

    <div class="panel-body container-fluid">
    
      <p><strong><%= t('views.permit_steps.display_summary.permit.congrat_text') %></strong></p>
      <p><%= t('views.permit_steps.display_summary.permit.download_instruction') %></p>
      
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Your Response</th>
          </tr>
        </thead>

        <tbody>

          <!-- Required permits -->
          <% if ! @permit_needs["permit_needed"].empty? %>
            <tr>
              <td>Projects</td>
              <td>
                <% @permit_needs["permit_needed"].each do |project| %>
                  <li><%= project %></li>
                <% end %>
              </td>
            </tr>
          <% end %>

          <!-- Homeowner name -->
          <% if @permit.owner_name.length >= 1 %>
            <tr>
              <td>Owner name</td>
              <td><%= @permit.owner_name %></td>
            </tr>
          <% end %>

          <!-- Project address -->
          <% if @permit.owner_address.length >= 1 %>
            <tr>
              <td>Address</td>
              <td><%= @permit.owner_address %></td>
            </tr>
          <% end %>

          <!-- House area -->
          <% if @permit.house_area != nil %>
            <tr>
              <td>House size</td>
              <td><%= @permit.house_area %> square feet</td>
            </tr>
          <% end %>

          <!-- Addition area -->
          <% if @permit.addition_area != nil %>
            <tr>
              <td>Addition size</td>
              <td><%= @permit.addition_area %> square feet</td>
            </tr>
          <% end %>

          <!-- Air conditioning type -->
          <% if @permit.ac.length >= 1 %>
            <tr>
              <td>Air conditioning type</td>
              <td><%= @permit.ac %></td>
            </tr>
          <% end %>

          <!-- Phone number -->
          <% if @permit.phone.length >= 1 %>
            <tr>
              <td>Phone number</td>
              <td><%= @permit.phone %></td>
            </tr>
          <% end %>

          <!-- Project address -->
          <% if @permit.email.length >= 1 %>
            <tr>
              <td>Email Address</td>
              <td><%= @permit.email %></td>
            </tr>
          <% end %>

          <!-- Project address -->
          <% if @permit.work_summary.length >= 1 %>
            <tr>
              <td>Work Summary</td>
              <td><%= @permit.work_summary %></td>
            </tr>
          <% end %>

          <!-- Job cost -->
          <% if @permit.job_cost != nil %>
            <tr>
              <td>Job Cost</td>
              <td>$<%= @permit.job_cost %></td>
            </tr>
          <% end %>

          <!-- Window count -->
          <% if @permit.window_count != nil %>
            <tr>
              <td>Number of windows under repair</td>
              <td>$<%= @permit.window_count %></td>
            </tr>
          <% end %>

          <!-- Door count -->
          <% if @permit.door_count != nil %>
            <tr>
              <td>Number of doors under repair</td>
              <td>$<%= @permit.door_count %></td>
            </tr>
          <% end %>

        </tbody>

      </table>

      <a class="btn btn-danger btn-md" href="/generated_permits/<%= @unique_key %>.pdf" target="_blank"><%= t('views.permit_steps.display_summary.permit.send_button') %></a>
      <a class="btn btn-default btn-md" href="/generated_permits/<%= @unique_key %>.pdf" target="_blank"><%= t('views.permit_steps.display_summary.permit.problem_button') %></a>

    </div><!-- ./panel_body -->
  </div><!-- ./panel -->

  <% if @site_plan_required %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('views.permit_steps.display_summary.site_plan.heading') %></h4>
      </div>
      <div class="panel-body">
        <p><%= t('views.permit_steps.display_summary.site_plan.description') %></p>
        <p><%= t('views.permit_steps.display_summary.site_plan.instruction') %></p>
        <p>
          <a class="btn btn-primary btn-md" href="<%= asset_path('siteplan-packet-1.0.pdf') %>" target="_blank">
            <%= t('views.permit_steps.display_summary.site_plan.download_button') %>
          </a>
        </p>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('views.permit_steps.display_summary.forms_to_dsd.heading') %></h4>
    </div>
    <div class="panel-body">
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.instruction') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.location.html') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.hour.html') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.bring.html') %>
      <ul>
        <li><%= t('views.permit_steps.display_summary.forms_to_dsd.permit_app') %></li>
        <li><%= t('views.permit_steps.display_summary.forms_to_dsd.site_plan') %></li>
        <li><%= t('views.permit_steps.display_summary.forms_to_dsd.photo_id') %></li>
        <li><%= t('views.permit_steps.display_summary.forms_to_dsd.ownership_proof') %></li>
        <li><%= t('views.permit_steps.display_summary.forms_to_dsd.payment') %></li>
      </ul>
       <p><%= t('views.permit_steps.display_summary.forms_to_dsd.contact.html') %></p>
    </div>
  </div>

</div> <!-- ./col-sm-9 -->