<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>You're done!</h1>
    <p>These are your next steps.</p>
  </div>

  <p class="small-text"><b>Owner Name:</b> <%= @permit.owner_name %></p>
  <p class="small-text"><b>Owner Address:</b> <%= @permit.owner_address %></p>

  <% if @permit.addition %>
    <p class="small-text"><b>House Square Feet:</b> <%= @permit.house_area %></p>
    <p class="small-text"><b>Addition Square Feet:</b> <%= @permit.addition_area %></p>
    <p class="small-text"><b>Air Conditioning Heating System:</b> <%= @permit.ac %></p>
  <% end %>

  <% if @permit.contractor %>
    <p class="small-text"><b>Contractor?:</b> <%= @permit.contractor ? "Yes" : "No" %></p>
    <p class="small-text"><b>Contractor Name:</b> <%= @permit.contractor_name %></p>
    <p class="small-text"><b>Contractor ID#:</b> <%= @permit.contractor_id %></p>
    <p class="small-text"><b>Escrow?:</b> <%= @permit.escrow ? "Yes" : "No" %></p>
    <p class="small-text"><b>Registered License Holder:</b> <%= @permit.license_holder %></p>
    <p class="small-text"><b>License #:</b> <%= @permit.license_num %></p>
    <p class="small-text"><b>Authorized Agent Name:</b> <%= @permit.agent_name %></p>
    <p class="small-text"><b>Contact ID #:</b> <%= @permit.contact_id %></p>
    <p class="small-text"><b>Telephone:</b> <%= @permit.phone %></p>
    <p class="small-text"><b>Fax:</b> <%= @permit.fax %></p>
    <p class="small-text"><b>Email:</b> <%= @permit.email %></p>
    <p class="small-text"><b>Oher Contact ID # Associated with Permit:</b> <%= @permit.other_contact_id %></p>
  <% end %>

  <p class="small-text"><b>Work Summary:</b> <%= @permit.work_summary %></p>

</div> <!-- ./col-sm-9 -->