<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:display_summary) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permit_steps.display_summary.intro.heading') %></h1>
    <p><%= t('views.permit_steps.display_summary.intro.body') %></p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4><%= t('views.permit_steps.display_summary.permit.heading') %></h4>
    </div>

    <div class="panel-body container-fluid">
      <div class="row">

        <div class="col-sm-12">
          <div class="alert alert-warning"><!-- @TODO remove the need for this with pdf.js -->
            <p><%= t('views.permit_steps.display_summary.permit.adobe_download.html') %></p>
          </div>
        </div>
      
        <%= image_tag "permits/general-repairs-template-preview-200px.png" , class: "hidden-xs col-sm-4" %>

        <div class="col-sm-8">
          <p><strong><%= t('views.permit_steps.display_summary.permit.congrat_text') %></strong></p>
          <p><%= t('views.permit_steps.display_summary.permit.download_instruction') %></p>
          <a class="btn btn-primary btn-md" href="/generated_permits/<%= @unique_key %>.pdf" target="_blank"><%= t('views.permit_steps.display_summary.permit.download_button') %></a>
        </div>
      </div><!-- ./row -->
    </div><!-- ./panel_body -->
  </div><!-- ./panel -->

  <% if @site_plan_required %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('views.permit_steps.display_summary.site_plan.heading') %></h4>
      </div>
      <div class="panel-body">
        <p><%= t('views.permit_steps.display_summary.site_plan.description') %></p>
        <p><%= t('views.permit_steps.display_summary.site_plan.instruction') %></p>
        <p>
          <a class="btn btn-primary btn-md" href="<%= asset_path('siteplan-packet-1.0.pdf') %>" target="_blank">
            <%= t('views.permit_steps.display_summary.site_plan.download_button') %>
          </a>
        </p>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('views.permit_steps.display_summary.forms_to_dsd.heading') %></h4>
    </div>
    <div class="panel-body">
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.instruction.html') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.location.html') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.hour.html') %></p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.bring.html') %>
        <ul>
          <li><%= t('views.permit_steps.display_summary.forms_to_dsd.permit_app') %></li>
          <li><%= t('views.permit_steps.display_summary.forms_to_dsd.site_plan') %></li>
          <li><%= t('views.permit_steps.display_summary.forms_to_dsd.photo_id') %></li>
          <li><%= t('views.permit_steps.display_summary.forms_to_dsd.ownership_proof') %></li>
          <li><%= t('views.permit_steps.display_summary.forms_to_dsd.payment') %></li>
        </ul>
      </p>
      <p><%= t('views.permit_steps.display_summary.forms_to_dsd.contact.html') %></p>
    </div>
  </div>

</div> <!-- ./col-sm-9 -->