<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>It's time to send in your permit</h1>
    <p>To complete the permit process, you'll have to download the General Repairs permit application, fill it out and submit it to the City of San Antonio.</p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>1. Download and print the General Repairs Permit</h4>
    </div>

    <div class="panel-body">
      <p>Please <a href="https://webapps1.sanantonio.gov/dsddocumentcentral/upload/GeneralRepairsMinorCommercialApplication.pdf">click this link</a> to download the permit application from the City of San Antonio website. Please print out the application.

      <div class="alert alert-warning">
        The permit is in PDF form and requires a PDF reader. You can download the Adobe Acrobat PDF reader for free at <a href="http://get.adobe.com/reader/">this link</a>.</p>
      </div>
    </div><!-- ./panel_body -->

  </div><!-- ./panel -->

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>2. Fill out the permit with this information</h4>
    </div>

    <div class="panel-body">

      <p><strong>Write the following information on the printed permit.</strong></p>

      <p class="small-text"><b>Owner Name:</b> <%= @permit.owner_name %></p>
      <p class="small-text"><b>Owner Address:</b> <%= @permit.owner_address %></p>

      <% if @permit.addition %>
        <p class="small-text"><b>House Square Feet:</b> <%= @permit.house_area %></p>
        <p class="small-text"><b>Addition Square Feet:</b> <%= @permit.addition_area %></p>
        <p class="small-text"><b>Air Conditioning Heating System:</b> <%= @permit.ac %></p>
      <% end %>

      <% if @permit.contractor %>
        <p class="small-text"><b>Contractor?:</b> <%= @permit.contractor ? "Yes" : "No" %></p>
        <p class="small-text"><b>Contractor Name:</b> <%= @permit.contractor_name %></p>
        <p class="small-text"><b>Contractor ID#:</b> <%= @permit.contractor_id %></p>
        <p class="small-text"><b>Escrow?:</b> <%= @permit.escrow ? "Yes" : "No" %></p>
        <p class="small-text"><b>Registered License Holder:</b> <%= @permit.license_holder %></p>
        <p class="small-text"><b>License #:</b> <%= @permit.license_num %></p>
        <p class="small-text"><b>Authorized Agent Name:</b> <%= @permit.agent_name %></p>
        <p class="small-text"><b>Contact ID #:</b> <%= @permit.contact_id %></p>
        <p class="small-text"><b>Telephone:</b> <%= @permit.phone %></p>
        <p class="small-text"><b>Fax:</b> <%= @permit.fax %></p>
        <p class="small-text"><b>Email:</b> <%= @permit.email %></p>
        <p class="small-text"><b>Oher Contact ID # Associated with Permit:</b> <%= @permit.other_contact_id %></p>
      <% end %>

      <p class="small-text"><b>Work Summary:</b> <%= @permit.work_summary %></p>

    </div><!-- panel-body -->
  </div><!-- ./panel -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>3. Bring your permit to Development Services Department</h4>
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, aut labore repellendus vitae distinctio ipsa eos eaque architecto. Vero, animi maxime reprehenderit perspiciatis doloremque molestiae eum impedit ducimus corrupti nihil?</p>
    </div>
  </div>

</div> <!-- ./col-sm-9 -->