<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:display_summary) + 1} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permit_steps.display_summary.intro.heading') %></h1>
    <p><%= t('views.permit_steps.display_summary.intro.body') %></p>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4><%= t('views.permit_steps.display_summary.permit.heading') %></h4>
    </div>

    <div class="panel-body container-fluid">
    
      <p><strong><%= t('views.permit_steps.display_summary.permit.congrat_text') %></strong></p>
      <p><%= t('views.permit_steps.display_summary.permit.download_instruction') %></p>
      
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><%= t('views.permit_steps.display_summary.table.head.description') %></th>
            <th><%= t('views.permit_steps.display_summary.table.head.response') %></th>
          </tr>
        </thead>

        <tbody>

          <!-- Required permits -->
          <% if ! @permit_needs["permit_needed"].empty? %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.list') %></td>
              <td>
                <% @permit_needs["permit_needed"].each do |project| %>
                  <li><%= t(project) %></li>
                <% end %>
              </td>
            </tr>
          <% end %>

          <!-- Homeowner name -->
          <% if @permit.owner_name != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.owner_name') %></td>
              <td><%= @permit.owner_name %></td>
            </tr>
          <% end %>

          <!-- Project address -->
          <% if @permit.owner_address != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.address') %></td>
              <td><%= @permit.owner_address %></td>
            </tr>
          <% end %>

          <!-- Phone number -->
          <% if @permit.phone != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.phone') %></td>
              <td><%= @permit.phone %></td>
            </tr>
          <% end %>

          <!-- Email address -->
          <% if @permit.email != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.email') %></td>
              <td><%= @permit.email %></td>
            </tr>
          <% end %>

          <!-- House area -->
          <% if @permit.house_area != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.size') %></td>
              <td><%= @permit.house_area %> <%= t('views.permit_steps.display_summary.table.units') %></td>
            </tr>
          <% end %>

          <!-- Addition area -->
          <% if @permit.addition_area != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.added_size') %></td>
              <td><%= @permit.addition_area %> <%= t('views.permit_steps.display_summary.table.units') %></td>
            </tr>
          <% end %>

          <!-- Air conditioning type -->
          <% if @permit.ac != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.ac') %></td>
              <td><%= @permit.ac %></td>
            </tr>
          <% end %>

          <!-- Window count -->
          <% if @permit.window_count != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.number_windows') %></td>
              <td>$<%= @permit.window_count %></td>
            </tr>
          <% end %>

          <!-- Door count -->
          <% if @permit.door_count != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.number_doors') %></td>
              <td>$<%= @permit.door_count %></td>
            </tr>
          <% end %>

          <!-- Work summary -->
          <% if @permit.work_summary != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.summary') %></td>
              <td><%= @permit.work_summary %></td>
            </tr>
          <% end %>

          <!-- Job cost -->
          <% if @permit.job_cost != nil %>
            <tr>
              <td><%= t('views.permit_steps.display_summary.table.cost') %></td>
              <td>$<%= @permit.job_cost %></td>
            </tr>
          <% end %>

        </tbody>

      </table>

      <!-- Next button -->
      <%= link_to t('views.permit_steps.display_summary.permit.send_button'), next_wizard_path, class: "btn btn-danger btn-lg" %>
      <!-- Next button -->
      <%= link_to t('views.permit_steps.display_summary.permit.problem_button'), wizard_path(:enter_details), class: "btn btn-default btn-lg" %>
    </div><!-- ./panel_body -->
  </div><!-- ./panel -->
</div> <!-- ./col-sm-9 -->