<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:enter_details) + 1} %>

<!-- Begin step -->
<div class="col-sm-9 multi-form"> <!-- multi-form adds some nice padding for long form groupings -->

  <!-- Intro text -->
    <div class="intro">
      <h1><%= t('enter_details.intro.heading') %></h1>
      <p><%= t('enter_details.intro.body') %></p>
    </div>


  <!-- Form -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong><%= t('defaults.error_statement') %></strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- Homeowner info section --> 

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4><%= t('enter_details.homeowner_info.heading') %></h4>
      </div>

      <div class="panel-body">

        <!-- owner_name -->
        
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: t('enter_details.homeowner_info.name.question'), 
                        helper_text: nil,
                        attribute: :owner_name,
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./owner_name -->

        <!-- owner_address -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: t('enter_details.homeowner_info.address.question'), 
                        helper_text: nil,
                        attribute: :owner_address, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- email -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: t('enter_details.homeowner_info.email.question'),
                        helper_text: nil, 
                        attribute: :email, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./email -->

        <!-- phone -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: t('enter_details.homeowner_info.phone.question'), 
                        helper_text: nil,
                        attribute: :phone, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./phone -->

        </div><!-- ./panel_body -->
      </div><!-- ./panel -->

    <!-- ./Homeowner info section -->

    <% if @permit.addition %>
      <!-- Addition section --> 

      <div class="panel panel-default">

        <div class="panel-heading">
          <h4><%= t('enter_details.addition_info.heading') %></h4>
        </div>

        <div class="panel-body">

          <!-- house_area -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/text_field", 
                locals: { f: f, 
                          question: t('enter_details.addition_info.house_area.question'),
                          helper_text: nil,
                          attribute: :house_area, 
                          placeholder: nil,
                          input_addon: nil } %>
          </div>

          <!-- ./house_area -->

          <!-- addition_area -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/text_field", 
                locals: { f: f, 
                          question: t('enter_details.addition_info.addition_area.question'),
                          helper_text: nil,
                          attribute: :addition_area, 
                          placeholder: nil,
                          input_addon: nil } %>
          </div>

          <!-- ./addition_area -->

          <!-- ac -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/select", 
                locals: { f: f, 
                          question: t('enter_details.addition_info.ac.question'),
                          helper_text: t('enter_details.addition_info.ac.helper_text'),
                          attribute: :ac, 
                          options: @permit_ac_options,
                          model_attribute: @permit.ac} %>
          </div>

          <!-- ./ac -->

          </div><!-- ./panel_body -->
        </div><!-- ./panel -->

      <!-- ./Addition section -->
      <% end %>

      <!-- Window section -->
      <% if @permit.window %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Window Information</h4>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <%= render  partial: "permit_steps/form_helper/text_field", 
                  locals: { f: f, 
                            question: t('enter_details.window_info.window_count.question'),
                            helper_text: t('enter_details.window_info.window_count.helper_text'),
                            attribute: :window_count, 
                            placeholder: nil,
                            input_addon: nil } %>
            </div>

          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- window -->

      <!-- Door section -->
      <% if @permit.door %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4>Door Information</h4>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <%= render  partial: "permit_steps/form_helper/text_field", 
                  locals: { f: f, 
                            question: t('enter_details.door_info.door_count.question'),
                            helper_text: t('enter_details.door_info.door_count.helper_text'),
                            attribute: :door_count, 
                            placeholder: nil,
                            input_addon: nil } %>
            </div>

          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- door -->

    <!-- Final info section -->

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Summary and cost</h4>
      </div>

      <div class="panel-body">

      <!-- work_summary -->
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_area", 
              locals: { f: f, 
                        question: t('enter_details.final_info.work_summary.question'),
                        helper_text: t('enter_details.final_info.work_summary.helper_text'),
                        attribute: :work_summary } %>
        </div>

        <!-- ./work_summary -->

        <!-- job_cost -->
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: t('enter_details.final_info.job_cost.question'),
                        helper_text: t('enter_details.final_info.job_cost.helper_text'),
                        attribute: :job_cost, 
                        placeholder: nil,
                        input_addon: "$" } %>
        </div>
        <!-- ./job_cost -->

      </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <!-- ./Final info section-->   

    <%= f.submit t('enter_details.submit'), class: "btn btn-primary btn-lg" %> 

    <% end %>
  </div>
</div>