<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: PermitStepsController::STEPS.index(:enter_details) + 1} %>

<!-- Begin step -->
<div class="col-sm-9 multi-form"> <!-- multi-form adds some nice padding for long form groupings -->

  <!-- Intro text -->
    <div class="intro">
      <h1>General Repair/Residential Permit Application</h1>
      <p>This permit covers many home repair and renovation projects.</p>
    </div>


  <!-- Form -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Oops. Check your answers below and try again.</strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- Homeowner info section --> 

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Homeowner information</h4>
      </div>

      <div class="panel-body">
        <p>Provide the homeowner’s info below:</p>
        
        <!-- owner_name -->
        
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Name", 
                        helper_text: nil,
                        attribute: :owner_name,
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./owner_name -->

        <!-- owner_address -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Street address", 
                        helper_text: nil,
                        attribute: :owner_address, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- email -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Email address",
                        helper_text: nil, 
                        attribute: :email, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./email -->

        <!-- phone -->

        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Phone number", 
                        helper_text: nil,
                        attribute: :phone, 
                        placeholder: nil,
                        input_addon: nil } %>
        </div>

        <!-- ./phone -->

        </div><!-- ./panel_body -->
      </div><!-- ./panel -->

    <!-- ./Homeowner info section -->

    <% if @permit.addition %>
      <!-- Addition section --> 

      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Addition information</h4>
        </div>

        <div class="panel-body">

          <!-- house_area -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/text_field", 
                locals: { f: f, 
                          question: "Size of existing house in square feet",
                          helper_text: nil,
                          attribute: :house_area, 
                          placeholder: nil,
                          input_addon: nil } %>
          </div>

          <!-- ./house_area -->

          <!-- addition_area -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/text_field", 
                locals: { f: f, 
                          question: "Size of new addition in square feet",
                          helper_text: nil,
                          attribute: :addition_area, 
                          placeholder: nil,
                          input_addon: nil } %>
          </div>

          <!-- ./addition_area -->

          <!-- ac -->

          <div class="form-group">
            <%= render  partial: "permit_steps/form_helper/select", 
                locals: { f: f, 
                          question: "Air conditioning / heating system",
                          helper_text: "Select the system you plan to install in your addition.",
                          attribute: :ac, 
                          options: @permit_ac_options,
                          model_attribute: @permit.ac} %>
          </div>

          <!-- ./ac -->

          </div><!-- ./panel_body -->
        </div><!-- ./panel -->

      <!-- ./Addition section -->
      <% end %>

      <!-- Window section -->
      <% if @permit.window %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Window Information</h4>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <%= render  partial: "permit_steps/form_helper/text_field", 
                  locals: { f: f, 
                            question: "How many windows are you changing?",
                            helper_text: "Include windows you are repairing.",
                            attribute: :window_count, 
                            placeholder: nil,
                            input_addon: nil } %>
            </div>

          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- window -->

      <!-- Door section -->
      <% if @permit.door %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4>Door Information</h4>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <%= render  partial: "permit_steps/form_helper/text_field", 
                  locals: { f: f, 
                            question: "How many doors are you changing?",
                            helper_text: "Include doors you are repairing.",
                            attribute: :door_count, 
                            placeholder: nil,
                            input_addon: nil } %>
            </div>

          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- door -->

    <!-- Final info section -->

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Summary and cost</h4>
      </div>

      <div class="panel-body">

      <!-- work_summary -->
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_area", 
              locals: { f: f, 
                        question: "Work Summary",
                        helper_text: "Describe the project you are working on.",
                        attribute: :work_summary } %>
        </div>

        <!-- ./work_summary -->

        <!-- job_cost -->
        <div class="form-group">
          <%= render  partial: "permit_steps/form_helper/text_field", 
              locals: { f: f, 
                        question: "Job Cost",
                        helper_text: "Enter the total cost of the job, including labor and materials.",
                        attribute: :job_cost, 
                        placeholder: nil,
                        input_addon: "$" } %>
        </div>
        <!-- ./job_cost -->

      </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <!-- ./Final info section-->   

    <%= f.submit "Next step", class: "btn btn-primary btn-lg" %> 

    <% end %>
  </div>
</div>