<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 3} %>

<!-- Begin step -->
<div class="col-sm-9 multi-form"> <!-- multi-form adds some nice padding for long form groupings -->

  <!-- Intro text -->
    <div class="intro">
      <h1>General Permit Application</h1>
      <p>This permit covers many home repair and renovation projects.</p>
    </div>


  <!-- Room additions fields -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Sorry, there was a problem. Please check your answers.</strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- required notice -->
    <div class="alert alert-info">
      <p>Fields marked with * are required.</p>
    </div>

    <!-- Basic info section --> 

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Basic information</h4>
      </div>

      <div class="panel-body">

      <!-- owner_name -->
        
        <div class="form-group">
          <%= f.label :owner_name, "Home owner name*", for: "owner-name" %>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:owner_name].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:owner_name][0] %></p>
          <% end %>

          <%= f.text_field :owner_name, class: "form-control input-lg", id: "owner-name" %>

          <% if @permit.errors.messages[:owner_name].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>
        </div>

      <!-- ./owner_name -->


        </div><!-- ./panel_body -->
      </div><!-- ./panel -->

    <!-- ./Basic info section -->

    <!-- Contractor info section -->
    
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Contractor details</h4>
      </div>

      <div class="panel-body">

        <!-- Are you using a contractor? -->
        <div class="form-group">
          <%= f.label :contractor, "Are you using a contractor for this project?*" %>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:contractor].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:contractor][0] %></p>
            <!-- close the errors div. we don't need it for radio buttons -->
            </div>
          <% end %>

          <br>
          <div class="btn-group" data-toggle="buttons"> <!-- @TODO javascript make button select persistent -->
            <%= f.label :contractor, "Yes", value: "true", class: "btn btn-primary", id: "contractor-yes-btn" do %>
              <%= f.radio_button :contractor, true, style: 'display:none;' %>
              Yes
            <% end %>

            <%= f.label :contractor, "No", value: "false", class: "btn btn-primary", id: "contractor-no-btn" do %>
              <%= f.radio_button :contractor, false, style: 'display:none;' %>
              No
            <% end %>
          </div>

        </div>

        <div class="collapse contractor-details">

          <div class="form-group">
            <%= f.label :contractor_name, "Contractor name", for: "contractor-name" %>
            <%= f.text_field :contractor_name, class: "form-control input-lg", id: "contractor-name" %>
          </div>

          <div class="form-group">
            <%= f.label :contractor_id, "Contractor ID number", for: "contractor-id" %>
            <%= f.text_field :contractor_id, class: "form-control input-lg", id: "contractor-id" %>
          </div>

          <div class="form-group">
            <%= f.label :escrow, "Are you using an escrow account?" %>
            
            <br>
            <div class="btn-group" data-toggle="buttons">
              <%= f.label :escrow, "Yes", value: "true", class: "btn btn-primary", id: "escrow-yes-btn" do %>
                <%= f.radio_button :escrow, true, style: "display:none;" %>
                Yes
              <% end %>
              <%= f.label :escrow, "No", value: "false", class: "btn btn-primary", id: "escrow-no-btn" do %>
                <%= f.radio_button :escrow, false, style: "display:none;" %>
                No
              <% end %>
            </div>

          </div><!-- ./form_group -->

          <div class="form-group">
            <%= f.label :license_holder, "Registered license holder", for: "license-holder" %>
            <%= f.text_field :license_holder, class: "form-control input-lg", id: "license_holder" %>
          </div>
          
          <div class="form-group">
            <%= f.label :license_num, "Contractor license number", for: "license" %>
            <%= f.text_field :license_num, class: "form-control input-lg", id: "license" %>
          </div>

          <div class="form-group">
            <%= f.label :agent_name, "Contractor authorized agent name", for: "agent-name" %>
            <%= f.text_field :agent_name, class: "form-control input-lg", id: "agent-name" %>
          </div>

          <div class="form-group">
            <%= f.label :contact_id, "Contact ID number", for: "contact-id" %>
            <%= f.text_field :contact_id, class: "form-control input-lg", id: "contact-id" %>
          </div>

          <div class="form-group">
            <%= f.label :other_contact_id, "Other Contact ID numbers associated with permit", for: "other-contact-id" %>
            <%= f.text_field :other_contact_id, class: "form-control input-lg", id: "other-contact-id" %>
          </div>

          <div class="form-group">
            <%= f.label :phone, "Contractor phone", for: "phone" %>
            <%= f.text_field :phone, class: "form-control input-lg", id: "phone" %>
          </div>

          <div class="form-group">
            <%= f.label :fax, "Contractor fax", for: "fax" %>
            <%= f.text_field :fax, class: "form-control input-lg", id: "fax" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "Contractor email", for: "email" %>
            <%= f.text_field :email, class: "form-control input-lg", id: "email" %>
          </div>

        </div><!-- ./contractor-details -->
      </div><!-- ./panel_body -->
    </div><!-- ./panel -->

    <!-- ./Contractor Info Section -->

    <!-- Final info -->

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Summary and cost</h4>
      </div>

      <div class="panel-body">

      <!-- work_summary -->
        <div class="form-group">
          <%= f.label :work_summary, "Work summary*", for: "work-summary" %>
          <p class="help-block">Please describe the project you are working on.</p>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:work_summary].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:work_summary][0] %></p>
          <% end %>

          <%= f.text_area :work_summary, rows: "3", class: "form-control input-lg", id: "work_summary" %>

          <% if @permit.errors.messages[:work_summary].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>   
        </div>
      <!-- ./work_summary -->

      <!-- job_cost -->
      <div class="form-group">
        <%= f.label :job_cost, "Job cost*", for: "job-cost" %>
        <p class="help-block">Please enter the total cost of labor and materials for your project.</p>

        <!-- check if there's an error for this field -->
        <% if @permit.errors.messages[:job_cost].length >= 1 %>
          <!-- create an errors div to style error message and make input red -->    
          <div class="has-error">
            <!-- Print out the error message (from validator) -->
            <p><%= @permit.errors.messages[:job_cost][0] %></p>
        <% end %>

        <%= f.text_field :job_cost, class: "form-control input-lg", id: "job-cost" %>  

        <% if @permit.errors.messages[:job_cost].length >= 1 %>
          <!-- close the errors div -->
          </div>
        <% end %>  
      </div><!-- ./input-group -->
      <!-- ./job_cost -->

      </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <!-- ./Final info -->   

    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %> 
    <% end %>
  </div>
</div>

<script>
  <% if @permit.contractor != nil %>

    <% if @permit.contractor %>

      $("#contractor-yes-btn").trigger('click');
      if(!$('.contractor-details').is(':visible'))
      {
        $(".contractor-details").fadeToggle("fast","swing");
      }

    <% else %>

      $("#contractor-no-btn").trigger('click');
      if($('.contractor-details').is(':visible'))
      {
        $(".contractor-details").fadeToggle("fast","swing");
      }

    <% end %>
  <% end %>

  <% if @permit.escrow != nil %>
    <% if @permit.escrow %>
      $("#escrow-yes-btn").trigger('click');
    <% else %>
      $("#escrow-no-btn").trigger('click');
    <% end %>
  <% end %>

</script>