<div class="w-form step ha-waypoint" id="permit-app">
  <h1>General Permit Application</h1>
  <div class="room-addition-fields">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>
      <% if @permit.errors.any? %>
        <div class="error_messages">
            <h2><font color="red">
              <% @permit.errors.messages.values.each do |msg| %>
                <%msg.each do  |m| %>
                  <%= m %>
                <%end %>
              <% end %>
            </font></h2>
        </div>
        <br><br>
      <% end %>

    <%= f.label :owner_name, "Owner Name:", class: "label", for: "owner-name" %>
    <%= f.text_field :owner_name, class: "w-input", id: "owner-name" %>

    <%= f.label :house_area, "Sq Ft (House):", for: "SqFtHouse" %>
    <%= f.text_field :house_area, class: "w-input", id: "SqFtHouse" %>

    <%= f.label :addition_area, "Sq Ft (Addition):", for: "SqFtAddition" %>
    <%= f.text_field :addition_area, class: "w-input", id: "SqFtAddition" %>

    <%= f.label :ac, "Air conditioning heating system:", for: "air-conditioning-heating-system" %>
    <%= f.select :ac, options_for_select(["None", "Wall Unit", "Extended from Main House", "New Split System"]), include_blank: "Select one...", class: "w-select", id: "air-conditioning-heating-system" %>
    <%= f.label :contractor, "Contractor used?" %>
    <div class="w-radio">
      <%= f.radio_button :contractor, true %>
      <%= f.label :contractor, "Yes", value: "true" %>
      <%= f.radio_button :contractor, false %>
      <%= f.label :contractor, "No", value: "false" %>
    </div>
    <!-- <div class="contractor-fields">-->
    <%= f.label :contractor_name, "Contractor Name:", for: "contractor-name" %>
    <%= f.text_field :contractor_name, class: "w-input", id: "contractor-name" %>

    <%= f.label :contractor_id, "Contractor ID#:", for: "contractor-id" %>
    <%= f.text_field :contractor_id, class: "w-input", id: "contractor-id" %>

    <!--</div>-->

    <%= f.label :escrow, "Escrow?" %>
    <div class="w-radio">
      <%= f.radio_button :escrow, true %>
      <%= f.label :escrow, "Yes", value: "true" %>
      <%= f.radio_button :escrow, false %>
      <%= f.label :escrow, "No", value: "false" %>
    </div>

    <%= f.label :license_holder, "Registered License Holder", for: "license-holder" %>
    <%= f.text_field :license_holder, class: "w-input", id: "license_holder" %>

    <%= f.label :license_num, "License #:", for: "license" %>
    <%= f.text_field :license_num, class: "w-input", id: "license" %>

    <%= f.label :agent_name, "Authorized Agent Name:", for: "agent-name" %>
    <%= f.text_field :agent_name, class: "w-input", id: "agent-name" %>

    <%= f.label :contact_id, "Contact ID #:", for: "contact-id" %>
    <%= f.text_field :contact_id, class: "w-input", id: "contact-id" %>

    <%= f.label :other_contact_id, "Other Contact ID # Associated with Permit", for: "other-contact-id" %>
    <%= f.text_field :other_contact_id, class: "w-input", id: "other-contact-id" %>

    <%= f.label :phone, "Phone:", for: "phone" %>
    <%= f.text_field :phone, class: "w-input", id: "phone" %>

    <%= f.label :fax, "Fax:", for: "fax" %>
    <%= f.text_field :fax, class: "w-input", id: "fax" %>

    <%= f.label :email, "Email:", for: "email" %>
    <%= f.text_field :email, class: "w-input", id: "email" %>

    <%= f.label :work_summary, "Work Summary:", for: "work-summary" %>
    <%= f.text_area :work_summary, class: "w-input", id: "work_summary" %>

    <%= f.label :job_cost, "Job Cost:", for: "job-cost" %>
    <%= f.text_field :job_cost, class: "w-input", id: "job-cost" %>     

    <%= f.submit "submit", class: "btn-fill" %> 
    <% end %>
  </div>
</div>