<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 3} %>

<!-- Begin step -->
<div class="col-sm-9 multi-form"> <!-- multi-form adds some nice padding for long form groupings -->

  <!-- Intro text -->
    <div class="intro">
      <h1>General Repair/Residential Permit Application</h1>
      <p>This permit covers many home repair and renovation projects.</p>
    </div>


  <!-- Room additions fields -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Sorry, there was a problem. Please check your answers.</strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- required notice -->
    <div class="alert alert-info">
      <p>Fields marked with * are required.</p>
    </div>

    <!-- Basic info section --> 

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Basic information</h4>
      </div>

      <div class="panel-body">

      <!-- owner_name -->
        
        <div class="form-group">
          <%= f.label :owner_name, "Home owner name*", for: "owner-name" %>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:owner_name].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:owner_name][0] %></p>
          <% end %>

          <%= f.text_field :owner_name, class: "form-control input-lg", id: "owner-name" %>

          <% if @permit.errors.messages[:owner_name].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>
        </div>

      <!-- ./owner_name -->

      <!-- owner_address -->

          <div class="form-group">
            <%= f.label :owner_address, "Address*", for: "owner-address" %>

            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:owner_address].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:owner_address][0] %></p>
            <% end %>

            <%= f.text_field :owner_address, class: "form-control input-lg", id: "owner-address" %>

            <% if @permit.errors.messages[:owner_address].length >= 1 %>
              <!-- close the errors div -->
              </div>
            <% end %>
          </div>

        <!-- ./owner_address -->

        <!-- email -->

          <div class="form-group">
            <%= f.label :email, "Home owner email address*", for: "email" %>

            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:email].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:email][0] %></p>
            <% end %>

            <%= f.text_field :email, class: "form-control input-lg", id: "email" %>

            <% if @permit.errors.messages[:email].length >= 1 %>
              <!-- close the errors div -->
              </div>
            <% end %>
          </div>

        <!-- ./email -->

        <!-- phone -->

          <div class="form-group">
            <%= f.label :phone, "Home owner phone number*", for: "phone" %>

            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:phone].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:phone][0] %></p>
            <% end %>
            <%= f.text_field :phone, class: "form-control input-lg", id: "phone" %>

            <% if @permit.errors.messages[:email].length >= 1 %>
              <!-- close the errors div -->
              </div>
            <% end %>
          </div>

        <!-- ./phone -->

        </div><!-- ./panel_body -->
      </div><!-- ./panel -->

    <!-- ./Basic info section -->

    <% if @permit.addition %>
      <!-- Addition section --> 

      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Addition information</h4>
        </div>

        <div class="panel-body">

        <!-- house_area -->

          <div class="form-group">
            <%= f.label :house_area, "Size of existing house in square feet*", for: "SqFtHouse" %>

            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:house_area].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:house_area][0] %></p>
            <% end %>

            <%= f.text_field :house_area, class: "form-control input-lg", id: "SqFtHouse" %>

            <% if @permit.errors.messages[:house_area].length >= 1 %>
              <!-- close the errors div -->
              </div>
            <% end %>
          </div>

        <!-- ./house_area -->

        <!-- addition_area -->

          <div class="form-group">
            <%= f.label :addition_area, "Size of new addition in square feet*", for: "SqFtAddition" %>

            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:addition_area].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:addition_area][0] %></p>
            <% end %>

            <%= f.text_field :addition_area, class: "form-control input-lg", id: "SqFtAddition" %>

            <% if @permit.errors.messages[:addition_area].length >= 1 %>
              <!-- close the errors div -->
              </div>
            <% end %>        
          </div> 
        <!-- ./addition_area -->

        <!-- ac -->

          <div class="form-group">
            <%= f.label :ac, "Air conditioning / heating system*", for: "air-conditioning-heating-system" %>
            
            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:ac].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:ac][0] %></p>
              <!-- close the errors div. we don't need it for radio buttons -->
              </div>
            <% end %>

            <p class="help-block">Please select the system you plan to install in your addition.</p>
            <% if @permit.ac.blank? %>
              <%= f.select :ac, options_for_select(["None", "Wall Unit", "Extended from Main House", "New Split System"]), { include_blank: "Select one..." }, { class: "form-control", id: "air-conditioning-heating-system" } %>
            <% else %>
              <%= f.select :ac, options_for_select(["None", "Wall Unit", "Extended from Main House", "New Split System"], @permit.ac), { include_blank: "Select one..." }, { class: "form-control", id: "air-conditioning-heating-system" } %>
            <% end %>
          </div>

        <!-- ./ac -->

          </div><!-- ./panel_body -->
        </div><!-- ./panel -->

      <!-- ./Addition section -->
      <% end %>

      <!-- Window section -->
      <% if @permit.window %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Window Information</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:window_count] != nil && @permit.errors.messages[:window_count].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:window_count][0] %></p>
              <!-- close the errors div. we don't need it for radio buttons -->
              </div>
            <% end %>
              <%= f.label :window_count, "How many windows are you changing?*", for: "window-count" %>
                <p class="help-block">Please include windows you are repairing.</p>
              <%= f.text_field :window_count, class: "form-control input-lg", id: "window-count" %>
            </div>
          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- window -->

      <!-- Door section -->
      <% if @permit.door %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4>Door Information</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
            <!-- check if there's an error for this field -->
            <% if @permit.errors.messages[:door_count] != nil && @permit.errors.messages[:door_count].length >= 1 %>
              <!-- create an errors div to style error message and make input red -->    
              <div class="has-error">
                <!-- Print out the error message (from validator) -->
                <p><%= @permit.errors.messages[:door_count][0] %></p>
              <!-- close the errors div. we don't need it for radio buttons -->
              </div>
            <% end %>
              <%= f.label :door_count, "How many doors are you changing?*", for: "door-count" %>
              <p class="help-block">Please include doors you are repairing.</p>
              <%= f.text_field :door_count, class: "form-control input-lg", id: "door-count" %>
            </div>
          </div> <!-- ./panel_body -->
        </div> <!-- ./panel -->
      <% end %> <!-- door -->

    <!-- Final info -->

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Summary and cost</h4>
      </div>

      <div class="panel-body">

      <!-- work_summary -->
        <div class="form-group">
          <%= f.label :work_summary, "Work summary*", for: "work-summary" %>
          <p class="help-block">Please describe the project you are working on.</p>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:work_summary].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:work_summary][0] %></p>
          <% end %>

          <%= f.text_area :work_summary, rows: "3", class: "form-control input-lg", id: "work_summary" %>

          <% if @permit.errors.messages[:work_summary].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>   
        </div>
      <!-- ./work_summary -->

      <!-- job_cost -->
      <div class="form-group">
        <%= f.label :job_cost, "Job cost*", for: "job-cost" %>
        <p class="help-block">Please enter the total cost of labor and materials for your project.</p>

        <!-- check if there's an error for this field -->
        <% if @permit.errors.messages[:job_cost].length >= 1 %>
          <!-- create an errors div to style error message and make input red -->    
          <div class="has-error">
            <!-- Print out the error message (from validator) -->
            <p><%= @permit.errors.messages[:job_cost][0] %></p>
        <% end %>

        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.text_field :job_cost, class: "form-control input-lg", id: "job-cost" %>  
        </div>

        <% if @permit.errors.messages[:job_cost].length >= 1 %>
          <!-- close the errors div -->
          </div>
        <% end %>  
      </div><!-- ./input-group -->
      <!-- ./job_cost -->

      </div><!-- ./panel-body -->
    </div><!-- ./panel -->

    <!-- ./Final info -->   

    <%= f.submit "Next step", class: "btn btn-primary btn-lg" %> 
    <% end %>
  </div>
</div>