<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 3} %>

<!-- Begin step -->
<div class="col-sm-9 multi-form"> <!-- multi-form adds some nice padding for long form groupings -->

  <!-- Intro text -->
    <div class="intro">
      <h1>General Permit Application</h1>
      <p>This permit covers many home repair and renovation projects.</p>
    </div>


  <!-- Room additions fields -->
  <div class="form">
    <%= form_for @permit, url: wizard_path, html: {name: "email-form"} do |f| %>

    <!-- error checking -->
    <% if @permit.errors.any? %>
      <div class="alert alert-danger">
        <p><strong>Sorry, there was a problem. Please check your answers.</strong></p>
      </div>
    <% end %>
    <!-- ./error checking -->

    <!-- required notice -->
    <div class="alert alert-info">
      <p>Fields marked with * are required.</p>
    </div>

    <!-- Addition section --> 

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Addition information</h4>
      </div>

      <div class="panel-body">

      <!-- house_area -->

        <div class="form-group">
          <%= f.label :house_area, "Size of house in square feet*", for: "SqFtHouse" %>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:house_area].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:house_area][0] %></p>
          <% end %>

          <%= f.text_field :house_area, class: "form-control input-lg", id: "SqFtHouse" %>

          <% if @permit.errors.messages[:house_area].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>
        </div>

      <!-- ./house_area -->

      <!-- addition_area -->

        <div class="form-group">
          <%= f.label :addition_area, "Size of addition in square feet*", for: "SqFtAddition" %>

          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:addition_area].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:addition_area][0] %></p>
          <% end %>

          <%= f.text_field :addition_area, class: "form-control input-lg", id: "SqFtAddition" %>

          <% if @permit.errors.messages[:addition_area].length >= 1 %>
            <!-- close the errors div -->
            </div>
          <% end %>        
        </div> 
      <!-- ./addition_area -->

      <!-- ac -->

        <div class="form-group">
          <%= f.label :ac, "Air conditioning / heating system*", for: "air-conditioning-heating-system" %>
          
          <!-- check if there's an error for this field -->
          <% if @permit.errors.messages[:ac].length >= 1 %>
            <!-- create an errors div to style error message and make input red -->    
            <div class="has-error">
              <!-- Print out the error message (from validator) -->
              <p><%= @permit.errors.messages[:ac][0] %></p>
            <!-- close the errors div. we don't need it for radio buttons -->
            </div>
          <% end %>

          <p class="help-block">Please select the system you plan to install in your addition.</p>
          <% if @permit.ac.blank? %>
            <%= f.select :ac, options_for_select(["None", "Wall Unit", "Extended from Main House", "New Split System"]), { include_blank: "Select one..." }, { class: "form-control", id: "air-conditioning-heating-system" } %>
          <% else %>
            <%= f.select :ac, options_for_select(["None", "Wall Unit", "Extended from Main House", "New Split System"], @permit.ac), { include_blank: "Select one..." }, { class: "form-control", id: "air-conditioning-heating-system" } %>
          <% end %>
        </div>

      <!-- ./ac -->

        </div><!-- ./panel_body -->
      </div><!-- ./panel -->

    <!-- ./Addition section -->


    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %> 
    <% end %>
  </div>
</div>