<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 4} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permit_steps.error_page.heading') %></h1>
    <div class="alert alert-danger">
        <p><%= t('views.permit_steps.error_page.description') %></p>
        <p><strong><%= t('views.permit_steps.error_page.instruction') %></strong></p>
        <p><%= t('views.permit_steps.error_page.contact_html') %></p>
    </div>
  </div>
 </div>
</div>