<%= f.label attribute, question %>
<% if @project.errors[attribute].length >= 1 %>

  <!-- create an errors div to style error message and make input red -->    
  <div class="field_with_errors">
    <!-- Print out the error message (from validator) -->
    <% @project.errors[attribute].each do | msg | %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<div class="select">
  <% if helper_text %>
    <p class="help-block"><%= helper_text %></p>
  <% end %>

  <% if model_attribute.blank? %>
    <%= f.select  attribute, 
                  options_for_select(options), 
                  { include_blank: t('views.permit_steps.form_helper.select.select_one') }, 
                  { class: "form-control" } %>
  <% else %>
    <%= f.select  attribute, 
                  options_for_select(options, model_attribute), 
                  { include_blank: t('views.permit_steps.form_helper.select.select_one') }, 
                  { class: "form-control" } %>
  <% end %>  
</div>
