<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select all the projects that you would like to work on:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_addition %>              
            <%= f.label :selected_addition, id: "addition", class: "project" do %>
              <%= image_tag "projects/addition.png" %>
              <p>Room Addition</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_acs_struct %>
            <%= f.label :selected_acs_struct, id: "acs-struct", class: "project" do %>
              <%= image_tag "projects/shed.png" %>
              <p>Shed or Garage</p>
            <% end %>               
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_deck %>
            <%= f.label :selected_deck, id: "deck", class: "project" do %>
              <%= image_tag "projects/deck.png" %>
              <p>Deck</p>
            <% end %>               
          </div>
        </div><!-- ./row -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_pool %>
            <%= f.label :selected_pool, "Swimming Pool", id: "pool", class: "project" do %>
              <%= image_tag "projects/pool.png" %>
              <p>Swimming Pool</p>
            <% end %>              
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_cover %>
            <%= f.label :selected_cover, id: "cover", class: "project" do %>
              <%= image_tag "projects/carport.png" %>
              <p>Carport or<br>Outdoor Cover</p>              
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_window %>
            <%= f.label :selected_window, id: "window", class: "project" do %>
              <%= image_tag "projects/window.png" %>
              <p>Windows</p>
            <% end %>
          </div>
        </div><!-- ./row -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_door %>
            <%= f.label :selected_door, id: "door", class: "project" do %>
              <%= image_tag "projects/door.png" %>
              <p>Doors</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_wall %>
            <%= f.label :selected_wall, id: "wall", class: "project" do %>
              <%= image_tag "projects/wall.png" %>
              <p>Walls</p> 
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_siding %>
            <%= f.label :selected_siding, id: "siding", class: "project" do %>
              <%= image_tag "projects/siding.png" %>
              <p>Replace siding</p>
            <% end %>              
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_floor %>
            <%= f.label :selected_floor, id: "floor", class: "project" do %>
              <%= image_tag "projects/floor.png" %>
              <p>Floors</p> 
            <% end %>              
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>

      <!-- Submit button -->
      <%= f.submit "Next step", class: "btn btn-primary btn-lg", id: "new_permit_submit" %><!--, onclick: "saveProjects()"-->

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9 -->

