<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select a home improvement project:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

        <div class="w-row project-row">
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "addition.png", class: "project-icon" %>
              <%= f.label :addition, "Room Additions", class: "btn-block pick-addition" %>
              <%= f.check_box :addition, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "shed.png", class: "project-icon" %>
              <%= f.label :acs_struct, "Shed or Garage", class: "btn-block pick-acs-struct" %>
              <%= f.check_box :acs_struct, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "deck.png", class: "project-icon" %>
              <%= f.label :deck, "Deck", class: "btn-block pick-deck" %>
              <%= f.check_box :deck, style: 'display:none' %>
            </div>
          </div>
        </div>
        <div class="w-row project-row">
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "pool.png", class: "project-icon" %>
              <%= f.label :pool, "Swimming Pool", class: "btn-block pick-pool" %>
              <%= f.check_box :pool, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "carport.png", class: "project-icon" %>
              <%= f.label :cover, class: "btn-block long pick-cover" do %>
                Carports and 
                <br>
                Outdoor Covers
              <% end %>
              <%= f.check_box :cover, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "window.png", class: "project-icon" %>
              <%= f.label :window, "Windows", class: "btn-block pick-window" %>
              <%= f.check_box :window, style: 'display:none' %>
            </div>
          </div>
        </div>
        <div class="w-row project-row">
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "door.png", class: "project-icon" %>
              <%= f.label :door, "Doors", class: "btn-block pick-door" %>
              <%= f.check_box :door, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "wall.png", class: "project-icon" %>
              <%= f.label :wall, "Walls", class: "btn-block pick-wall" %>
              <%= f.check_box :wall, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "siding.png", class: "project-icon" %>
              <%= f.label :siding, "Siding Replacement", class: "btn-block pick-siding" %>
              <%= f.check_box :siding, style: 'display:none' %>
            </div>
          </div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="w-clearfix w-inline-block project-block">
              <%= image_tag "floor.png", class: "project-icon" %>
              <%= f.label :floor, "Floor", class: "btn-block pick-floor" %>
              <%= f.check_box :floor, style: 'display:none' %>
            </div>
          </div>
          <div class="w-col w-col-4"></div>
          <div class="w-col w-col-4"></div>
        </div>


      <!-- Pick and option: ACS_STRUCT -->
      <!-- <div class="panel panel-default panel-info-acs-struct"> -->
        <!-- <div class="panel-heading"><h4>Accessory Structure</h4></div> -->
        <!-- <div class="panel-body"> -->
          <%#= image_tag "#", class: 'hidden-xs' %>
          <!-- <p>Adding Deck.</p> -->
          <%#= f.label :acs_struct, "I want to add accessory structure", class: 'btn btn-default btn-small pick-acs-struct'%>
          <%#= f.check_box :acs_struct, style: 'display:none;' %>
        <!-- </div> -->
      <!-- </div> -->
      <!-- ./acs_struct -->

      <!-- Submit button -->
      <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9