<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select a home improvement project:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

        <div class="w-row project-row">
          <div class="w-col w-col-4">
            <%= f.label :addition, class: "pick-addition btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "addition.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Room Additions</p>
              </div>
            <% end %>               
            <%= f.check_box :addition, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
            <%= f.label :acs_struct, class: "pick-acs-struct btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "shed.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Shed or Garage</p>
              </div>
            <% end %>               
            <%= f.check_box :acs_struct, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
              <%= f.label :deck, class: "pick-deck btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "deck.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Deck</p>
              </div>
            <% end %>               
            <%= f.check_box :deck, style: 'display:none' %>
          </div>
        </div>

        <div class="w-row project-row">
          <div class="w-col w-col-4">
              <%= f.label :pool, "Swimming Pool", class: "pick-pool btn-initial" do %>            
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "pool.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Swimming Pool</p>
              </div>
            <% end %>              
            <%= f.check_box :pool, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
            <%= f.label :cover, class: "pick-cover btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "carport.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block long">
                  Carports and 
                  <br>
                  Outdoor Covers 
                </p>              
              </div>
            <% end %>
            <%= f.check_box :cover, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
            <%= f.label :window, class: "pick-window btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "window.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Windows</p>
              </div>
            <% end %>
            <%= f.check_box :window, style: 'display:none' %>
          </div>
        </div>

        <div class="w-row project-row">
          <div class="w-col w-col-4">
            <%= f.label :door, class: "pick-door btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "door.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Doors</p>
              </div>
            <% end %>
            <%= f.check_box :door, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
            <%= f.label :wall, class: "pick-wall btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "wall.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Walls</p> 
              </div>             
            <% end %>
            <%= f.check_box :wall, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4">
            <%= f.label :siding, class: "pick-siding btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "siding.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Siding Replacement</p>
              </div>              
            <% end %>              
            <%= f.check_box :siding, style: 'display:none' %>
          </div>
        </div>

        <div class="w-row">
          <div class="w-col w-col-4">
            <%= f.label :floor, class: "pick-floor btn-initial" do %>
              <div class="w-clearfix w-inline-block project-block">
                <%= image_tag "floor.png", class: "project-icon" %>
                <div class="w-clearfix"></div>
                <p class="btn-block">Floors</p> 
              </div>             
            <% end %>              
            <%= f.check_box :floor, style: 'display:none' %>
          </div>
          <div class="w-col w-col-4"></div>
          <div class="w-col w-col-4"></div>
        </div>


      <!-- Pick and option: ACS_STRUCT -->
      <!-- <div class="panel panel-default panel-info-acs-struct"> -->
        <!-- <div class="panel-heading"><h4>Accessory Structure</h4></div> -->
        <!-- <div class="panel-body"> -->
          <%#= image_tag "#", class: 'hidden-xs' %>
          <!-- <p>Adding Deck.</p> -->
          <%#= f.label :acs_struct, "I want to add accessory structure", class: 'btn btn-default btn-small pick-acs-struct'%>
          <%#= f.check_box :acs_struct, style: 'display:none;' %>
        <!-- </div> -->
      <!-- </div> -->
      <!-- ./acs_struct -->

      <!-- Submit button -->
      <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9