<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select a home improvement project:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

      <!-- Pick and option: ADDITION -->
      <div class="panel panel-default panel-info-addition">
        <div class="panel-heading"><h4>Build an addition</h4></div>
        <div class="panel-body">
          <%= image_tag "color-house-parts/addition.png", class: 'hidden-xs' %>
          <p>Home additions are new space added to your current home, like a new bedroom or a bigger kitchen.</p>
          <%= f.label :addition, "I want to build an addition", class: 'btn btn-default btn-small pick-addition'%>
          <%= f.check_box :addition, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./addition -->

      <!-- Pick and option: REPAIRS -->
      <div class="panel panel-default panel-info-repair">
        <div class="panel-heading"><h4>General Repairs</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>General repairs are changes you make to your current home, like adding a new window, door, walls, siding, and floor.</p>
          <%= f.label :repair, "I want to make a general repair", class: 'btn btn-default btn-small pick-repair'%>
          <%= f.check_box :repair, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./repair -->

      <!-- Pick and option: COVER -->
      <div class="panel panel-default panel-info-cover">
        <div class="panel-heading"><h4>Carport/Patio Cover/Porch Cover</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Carport/Patio Cover/Porch Cover.</p>
          <%= f.label :cover, "I want to add carport/patio cover/porch cover", class: 'btn btn-default btn-small pick-cover'%>
          <%= f.check_box :cover, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./cover -->

      <!-- Pick and option: POOL -->
      <div class="panel panel-default panel-info-pool">
        <div class="panel-heading"><h4>Swimming Pool</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Swimming Pool.</p>
          <%= f.label :pool, "I want to add swimming pool", class: 'btn btn-default btn-small pick-pool'%>
          <%= f.check_box :pool, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./pool -->

      <!-- Submit button -->
      <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9