<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %> 
<div class="step first-step" id="select-renovations">   
  <h1>How would you like to improve your house?</h1>
  <p>Give us a few details about the type of improvement you want done.</p>
  <div class="w-form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>
      <% if @permit.errors.any? %>
        <div class="error_messages">
            <h3><font color="red">
              <% @permit.errors.messages.values.each do |msg| %>
                <%msg.each do  |m| %>
                  <%= m %><br>
                <%end %>
              <% end %>
            </font></h3>
        </div>
        <br><br>
      <% end %>
      <%= f.label "Pick an improvement:", class:"label", for: "name" %>
      <div class="w-row">
        <div class="w-col w-col-3 item-col">
          <%= f.label :addition, "Additions", class: 'button btn-outline alt-button-outline addition-btn'%>
          <%= f.check_box :addition, style: 'display: none' %><br />
        </div>
      </div>
      <%= f.submit "Next", class: "btn-fill"%>
    <% end %>
  </div>
</div>
