<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select a home improvement project:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

      <!-- Pick and option: ADDITION -->
      <div class="panel panel-default panel-info-addition">
        <div class="panel-heading"><h4>Build an addition</h4></div>
        <div class="panel-body">
          <%= image_tag "color-house-parts/addition.png", class: 'hidden-xs' %>
          <p>Home additions are new space added to your current home, like a new bedroom or a bigger kitchen.</p>
          <%= f.label :addition, "I want to build an addition", class: 'btn btn-default btn-small pick-addition'%>
          <%= f.check_box :addition, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./addition -->

      <!-- Pick and option: WINDOW -->
      <div class="panel panel-default panel-info-window">
        <div class="panel-heading"><h4>Windows</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Replace windows.</p>
          <%= f.label :window, "I want to change window", class: 'btn btn-default btn-small pick-window'%>
          <%= f.check_box :window, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./window -->

      <!-- Pick and option: DOOR -->
      <div class="panel panel-default panel-info-door">
        <div class="panel-heading"><h4>Doors</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Replace doors.</p>
          <%= f.label :door, "I want to change door", class: 'btn btn-default btn-small pick-door'%>
          <%= f.check_box :door, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./door -->

      <!-- Pick and option: WALL -->
      <div class="panel panel-default panel-info-wall">
        <div class="panel-heading"><h4>Walls</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Replace walls.</p>
          <%= f.label :wall, "I want to change wall", class: 'btn btn-default btn-small pick-wall'%>
          <%= f.check_box :wall, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./wall -->

      <!-- Pick and option: SIDING -->
      <div class="panel panel-default panel-info-siding">
        <div class="panel-heading"><h4>Sidings</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Replace sidings.</p>
          <%= f.label :siding, "I want to change siding", class: 'btn btn-default btn-small pick-siding'%>
          <%= f.check_box :siding, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./siding -->

      <!-- Pick and option: FLOOR -->
      <div class="panel panel-default panel-info-floor">
        <div class="panel-heading"><h4>Floors</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Replace floors.</p>
          <%= f.label :floor, "I want to change floor", class: 'btn btn-default btn-small pick-floor'%>
          <%= f.check_box :floor, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./floor -->

      <!-- Pick and option: COVER -->
      <div class="panel panel-default panel-info-cover">
        <div class="panel-heading"><h4>Carport/Patio Cover/Porch Cover</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Carport/Patio Cover/Porch Cover.</p>
          <%= f.label :cover, "I want to add carport/patio cover/porch cover", class: 'btn btn-default btn-small pick-cover'%>
          <%= f.check_box :cover, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./cover -->

      <!-- Pick and option: POOL -->
      <div class="panel panel-default panel-info-pool">
        <div class="panel-heading"><h4>Swimming Pool</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Swimming Pool.</p>
          <%= f.label :pool, "I want to add swimming pool", class: 'btn btn-default btn-small pick-pool'%>
          <%= f.check_box :pool, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./pool -->

      <!-- Pick and option: DECK -->
      <div class="panel panel-default panel-info-deck">
        <div class="panel-heading"><h4>Deck</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Deck.</p>
          <%= f.label :deck, "I want to add deck", class: 'btn btn-default btn-small pick-deck'%>
          <%= f.check_box :deck, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./deck -->

      <!-- Pick and option: ACS_STRUCT -->
      <div class="panel panel-default panel-info-acs-struct">
        <div class="panel-heading"><h4>Accessory Structure</h4></div>
        <div class="panel-body">
          <%= image_tag "#", class: 'hidden-xs' %>
          <p>Adding Deck.</p>
          <%= f.label :acs_struct, "I want to add accessory structure", class: 'btn btn-default btn-small pick-acs-struct'%>
          <%= f.check_box :acs_struct, style: 'display:none;' %>
        </div>
      </div>
      <!-- ./acs_struct -->

      <!-- Submit button -->
      <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9