<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1>How would you like to improve your house?</h1>
    <p>Please select all the projects that you would like to work on:</p>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

        <div class="row">
          <div class="col-md-4">
            <%= f.label :selected_addition, id: "addition", class: "pick-addition btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/addition.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Room Addition</p>
              </div>
            <% end %>               
            <%= f.check_box :selected_addition, style: 'display:none' %>
          </div>
          <div class="col-md-4">
            <%= f.label :selected_acs_struct, id: "acs-struct", class: "pick-acs-struct btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/shed.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Shed or Garage</p>
              </div>
            <% end %>               
            <%= f.check_box :selected_acs_struct, style: 'display:none' %>
          </div>
          <div class="col-md-4">
              <%= f.label :selected_deck, id: "deck", class: "pick-deck btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/deck.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Deck</p>
              </div>
            <% end %>               
            <%= f.check_box :selected_deck, style: 'display:none' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
              <%= f.label :selected_pool, "Swimming Pool", id: "pool", class: "pick-pool btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/pool.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Swimming Pool</p>
              </div>
            <% end %>              
            <%= f.check_box :selected_pool, style: 'display:none' %>
          </div>
          <div class="col-md-4">
            <%= f.label :selected_cover, id: "cover", class: "pick-cover btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/carport.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block long">
                  Carport or 
                  <br>
                  Outdoor Cover 
                </p>              
              </div>
            <% end %>
            <%= f.check_box :selected_cover, style: 'display:none' %>
          </div>
          <div class="col-md-4">
            <%= f.label :selected_window, id: "window", class: "pick-window btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/window.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Windows</p>
              </div>
            <% end %>
            <%= f.check_box :selected_window, style: 'display:none' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :selected_door, id: "door", class: "pick-door btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/door.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Doors</p>
              </div>
            <% end %>
            <%= f.check_box :selected_door, style: 'display:none' %>
          </div>
          <div class="col-md-4">
            <%= f.label :selected_wall, id: "wall", class: "pick-wall btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/wall.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Walls</p> 
              </div>             
            <% end %>
            <%= f.check_box :selected_wall, style: 'display:none' %>
          </div>
          <div class="col-md-4">
            <%= f.label :selected_siding, id: "siding", class: "pick-siding btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/siding.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Replace siding</p>
              </div>              
            <% end %>              
            <%= f.check_box :selected_siding, style: 'display:none' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :selected_floor, id: "floor", class: "pick-floor btn-initial project" do %>
              <div class="clearfix project-block">
                <%= image_tag "projects/floor.png", class: "project-icon" %>
                <div class="clearfix"></div>
                <p class="btn-block">Floors</p> 
              </div>             
            <% end %>              
            <%= f.check_box :selected_floor, style: 'display:none', onclick: "blah()" %>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>

      <!-- Submit button -->
      <%= f.submit "Next step", class: "btn btn-primary btn-lg", id: "new_permit_submit" %><!--, onclick: "saveProjects()"

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9 -->

