<!-- Render the sidebar partial -->
<%= render partial: "layouts/sidebar", locals: {cur_step: 0} %>

<!-- Begin step -->
<div class="col-sm-9">

  <!-- Intro text -->
  <div class="intro">
    <h1><%= t('views.permits.new.intro.heading') %></h1>
  </div>

  <!-- Start the permit select form -->
  <div class="form">
    <%= form_for @permit, html: {name: "select-improvement"} do |f| %>

      <!-- error checking -->
      <% if @permit.errors.any? %>
        <div class="alert alert-danger">
          <% @permit.errors.messages.values.each do |msg| %>
            <%msg.each do  |m| %>
              <strong><%= m %></strong>
            <%end %>
          <% end %>
        </div>
      <% end %>
      <!-- ./ error checking -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_addition %>              
            <%= f.label :selected_addition, id: "addition", class: "project" do %>
              <%= image_tag "permits/new/addition.png" %>
              <p class="long"><%= t('views.permits.new.project.addition.html') %></p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_acs_struct %>
            <%= f.label :selected_acs_struct, id: "acs-struct", class: "project" do %>
              <%= image_tag "permits/new/shed.png" %>
              <p><%= t('views.permits.new.project.acs_struct') %></p>
            <% end %>               
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_deck %>
            <%= f.label :selected_deck, id: "deck", class: "project" do %>
              <%= image_tag "permits/new/deck.png" %>
              <p><%= t('views.permits.new.project.deck') %></p>
            <% end %>               
          </div>
        </div><!-- ./row -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_pool %>
            <%= f.label :selected_pool, "Swimming Pool", id: "pool", class: "project" do %>
              <%= image_tag "permits/new/pool.png" %>
              <p><%= t('views.permits.new.project.pool') %></p>
            <% end %>              
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_cover %>
            <%= f.label :selected_cover, id: "cover", class: "project" do %>
              <%= image_tag "permits/new/carport.png" %>
              <p class="long"><%= t('views.permits.new.project.cover.html') %>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_window %>
            <%= f.label :selected_window, id: "window", class: "project" do %>
              <%= image_tag "permits/new/window.png" %>
              <p><%= t('views.permits.new.project.window') %></p>
            <% end %>
          </div>
        </div><!-- ./row -->

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_door %>
            <%= f.label :selected_door, id: "door", class: "project" do %>
              <%= image_tag "permits/new/door.png" %>
              <p><%= t('views.permits.new.project.door') %></p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_wall %>
            <%= f.label :selected_wall, id: "wall", class: "project" do %>
              <%= image_tag "permits/new/wall.png" %>
              <p><%= t('views.permits.new.project.wall') %></p>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.check_box :selected_siding %>
            <%= f.label :selected_siding, id: "siding", class: "project" do %>
              <%= image_tag "permits/new/siding.png" %>
              <p><%= t('views.permits.new.project.siding') %></p>
            <% end %>              
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.check_box :selected_floor %>
            <%= f.label :selected_floor, id: "floor", class: "project" do %>
              <%= image_tag "permits/new/floor.png" %>
              <p><%= t('views.permits.new.project.floor') %></p> 
            <% end %>              
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>

      <!-- Submit button -->
      <%= f.submit t('views.permits.new.submit'), class: "btn btn-primary btn-lg", id: "new_permit_submit" %><!--, onclick: "saveProjects()"-->

    <% end %>
  </div><!-- ./form -->
</div><!-- ./col-sm-9 -->

