<!-- header content -->
<div class="page-header">
  <div class="clearfix">

    <div class="btn-toolbar">
      <%= link_to "#{image_tag 'layouts/_header/logo.png'}#{t('views.layouts.header.app_name')}".html_safe, '/' + I18n.locale.to_s + '/reset', class: 'logo', 'data-toggle'=> 'tooltip', 'data-placement'=> 'right', title: t('views.layouts.header.reset') %>
      
      <span class="tagline"><%= t('views.layouts.header.tagline') %></span>
      
      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#about">
        <%= t('views.layouts.header.about') %>
      </button>
      <%= link_to t('views.layouts.header.start_over'), '/' + I18n.locale.to_s + '/reset', class: 'btn btn-default btn-xs pull-right' %>
    </div>
  </div>

  <div class="about-container">
    <div id="about" class="collapse"><!-- collapsed by default -->
      <hr><!-- adds the line above this section -->
      <div class="row">
        <div class="col-sm-6">
          <h4><%= t('views.layouts.header.author') %></h4>
          <p class="small"><%= t('views.layouts.header.link_to_domain.html') %></p>
        </div>
        <div class="col-sm-6">
          <h4><%= t('views.layouts.header.help_instruction.heading') %></h4>
          <p class="small"><%= t('views.layouts.header.help_instruction.html') %></p>
        </div>
      </div><!-- ./row -->
    </div><!-- ./#about -->
  </div><!-- ./about_container -->

</div><!-- ./page-header -->