<div class="col-sm-3" id="sidebar"> <!-- use the boostrap grid -->

  <!-- colorful house block -->
  <div class="visuals hidden-xs">
    <%= image_tag "house.png",                      class: "house"    %>
    <%= image_tag "color-house-parts/addition.png", class: "addition" %>
  </div>

  <!-- progress through form -->
  <div class="status">
    <h4 class="hidden-xs">Your progress</h4>
    <!-- @TODO move this to the controller -->

    <% steps = [
                  # description, controller, action, id
                  [ "1. Choose your project", "permits", "new", nil ], 
                  [ "2. Enter your address", "permit_steps", "show", "enter_address"  ], 
                  [ "3. Select your permits", "permit_steps", "show", "display_permits" ], 
                  [ "4. Fill out permits", "permit_steps", "show", "enter_details" ],
                  [ "5. Submit your permits", "permit_steps", "show", "display_summary" ] 
                ] %>
    <ul>
      <li class="cur-step hidden-sm hidden-md hidden-lg"><strong>Current Step:</strong></li><!-- for mobile devices -->
      <% for i in 0..steps.length - 1 %>
        <% if i == cur_step && i != (steps.length - 1) %>
          <%= link_to controller: steps[i][1], action: steps[i][2], id: steps[i][3] do %> <!-- current/active step -->
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
          <% end %>
        <% elsif i == cur_step && i == (steps.length - 1) %> <!-- active last step ... so we can keep it bold/dark -->
          <%= link_to controller: steps[i][1], action: steps[i][2], id: steps[i][3] do %>
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
          <% end %>
        <% elsif i < cur_step %> <!-- finished step -->
          <%= link_to controller: steps[i][1], action: steps[i][2], id: steps[i][3] do %>
            <%= content_tag :li, steps[i][0] %>
          <% end %>
        <% else %> <!-- future steps -->
            <%= content_tag :li, steps[i][0], class: "entry-future" %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>

<!-- @TODO refactor this out to javascript asset pipelien -->
<script>
  var addition = <%= @permit.addition != nil ? @permit.addition : false %>;
  if (addition)
  {
    $(".addition").fadeToggle("fast","swing");
    $('.addition-btn').toggleClass("toggle-on");
  }
  <%# if @permit.contractor != nil %>
  // var contractor = <%= @permit.contractor %>;
  //   if (contractor == true)
  //   {
  //     if(!$('.contractor-details').is(':visible'))
  //     {
  //       $(".contractor-details").fadeToggle("fast","swing");
  //     }
  //   }
  //   else if (contractor == false)
  //   {
  //     if($('.contractor-details').is(':visible'))
  //     {
  //       $(".contractor-details").fadeToggle("fast","swing");
  //     }
  //   }
  <%# end %>

</script>
