<div class="col-sm-3" id="sidebar"> <!-- use the boostrap grid -->

  <!-- colorful house block -->
  <div class="visuals hidden-xs">
    <%= image_tag "house.png",                      class: "house"    %>
    <%#= image_tag "color-house-parts/addition.png", class: "addition" %>
  </div>

  <!-- progress through form -->
  <div class="status">
    <h4 class="hidden-xs">Your progress</h4>
    <!-- @TODO move this to the controller -->

    <% steps = [
                  # description, controller, action, id
                  [ "1. Choose your project", "permits", "new", nil ], 
                  [ "2. Enter your address", "permit_steps", "show", "enter_address"  ], 
                  [ "3. Select your permits", "permit_steps", "show", "display_permits" ], 
                  [ "4. Fill out permits", "permit_steps", "show", "enter_details" ],
                  [ "5. Submit your permits", "permit_steps", "show", "display_summary" ] 
                ] %>
    <ul>
      <li class="cur-step hidden-sm hidden-md hidden-lg"><strong>Current Step:</strong></li><!-- for mobile devices -->
      <% for i in 0..steps.length - 1 %>
        <% if i == cur_step && i != (steps.length - 1) %>
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
        <% elsif i == cur_step && i == (steps.length - 1) %> <!-- active last step ... so we can keep it bold/dark -->
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
        <% elsif i < cur_step %> <!-- finished step -->
            <%= content_tag :li, steps[i][0] %>
        <% else %> <!-- future steps -->
            <%= content_tag :li, steps[i][0], class: "entry-future" %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <!-- selected projects -->
  <div class="status">
    <h4 class="hidden-xs">Your project</h4>  
    <span class="project-label addition">Addition</span>
    <span class="project-label acs-struct">Shed or Garage</span>
    <span class="project-label deck">Deck</span>
    <span class="project-label pool">Pool</span>
    <span class="project-label cover">Carport or Outdoor Cover</span>
    <span class="project-label window">Windows</span>
    <span class="project-label door">Doors</span>
    <span class="project-label wall">Walls</span>
    <span class="project-label siding">Siding</span>
    <span class="project-label floor">Floors</span>    
    
    
          
  </div>
</div>

<!-- @TODO refactor this out to javascript asset pipeline -->
<script>

  <% if @permit.addition %>
    $(".addition").toggleClass("displayed");
  <% end %>
 
  <% if @permit.acs_struct %>
    $(".acs-struct").toggleClass("displayed");
  <% end %>
  
  <% if @permit.deck %>
    $(".deck").toggleClass("displayed");
  <% end %>

  <% if @permit.pool %>
    $(".pool").toggleClass("displayed");
  <% end %>

  <% if @permit.cover %>
    $(".cover").toggleClass("displayed");
  <% end %>

  <% if @permit.window %>
    $(".window").toggleClass("displayed");
  <% end %>
  
  <% if @permit.door %>
    $(".door").toggleClass("displayed");
  <% end %>

  <% if @permit.wall %>
    $(".wall").toggleClass("displayed");
  <% end %>

  <% if @permit.siding %>
    $(".siding").toggleClass("displayed");
  <% end %>

  <% if @permit.floor %>
    $(".floor").toggleClass("displayed");
  <% end %>
                  
</script>
