<div class="test-prog-bar">

  <!-- colorful house block -->
  <div class="house-block">
    <%= image_tag "house.png",                      class: "house"    %>
    <%= image_tag "color-house-parts/addition.png", class: "addition" %>
  </div>

  <hr>

  <!-- progress through form -->
  <div class="prog">
    <h4>Your progress</h4>
    <% steps = ["1. Choose your project", "2. Enter your address", "3. Select your permits", "4. Fill out permits", "5. Submit your permits"] %>
    <ul class="steps">
      <% for i in 0..steps.length - 1 %>
        <% if i == cur_step && i != (steps.length - 1) %>
          <%= content_tag :li, steps[i], class: "cur-step" %>
        <% elsif i == cur_step && i == (steps.length - 1) %>
          <%= content_tag :li, steps[i], class: "cur-step" %><%= image_tag "checkmark.png", class: "checkicon last" %>
        <% elsif i < cur_step %>
          <%= content_tag :li, steps[i], class: "complete" %><%= image_tag "checkmark.png", class: "checkicon" %>
        <% else %> 
          <%= content_tag :li, steps[i] %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>


<script>
  var addition = <%= @permit.addition != nil ? @permit.addition : false %>;
  if (addition)
  {
    $(".addition").fadeToggle("fast","swing");
    $('.addition-btn').toggleClass("toggle-on");
  }
</script>
