<div class="col-sm-3" id="sidebar"> <!-- use the boostrap grid -->

  <!-- colorful house block -->
  <div class="visuals hidden-xs">
    <%= image_tag "sidebar/house.png",                      class: "house"    %>
  </div>

  <!-- progress through form -->
  <div class="status">
    <h4 class="hidden-xs"><%= t('sidebar.progress') %></h4>
    <!-- @TODO move this to the controller -->

    <% steps = [
                  # description
                  [ t('sidebar.step_1') ], 
                  [ t('sidebar.step_2') ], 
                  [ t('sidebar.step_3') ], 
                  [ t('sidebar.step_4') ],
                  [ t('sidebar.step_5') ],
                  [ t('sidebar.step_6') ] 
                ] %>
    <ul>
      <li class="cur-step hidden-sm hidden-md hidden-lg"><strong><%= t('sidebar.current_step') %>:</strong></li><!-- for mobile devices -->
      <% for i in 0..steps.length - 1 %>
        <% if i == cur_step && i != (steps.length - 1) %>
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
        <% elsif i == cur_step && i == (steps.length - 1) %> <!-- active last step ... so we can keep it bold/dark -->
            <%= content_tag :li, steps[i][0], class: "cur-step" %>
        <% elsif i < cur_step %> <!-- finished step -->
            <%= content_tag :li, steps[i][0] %>
        <% else %> <!-- future steps -->
            <%= content_tag :li, steps[i][0], class: "entry-future" %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <!-- selected projects -->
  <div class="status">
    <span class="cur-step your-project hidden-sm hidden-md hidden-lg">
      <strong><%= t('sidebar.project') %>:</strong>
    </span><!-- for mobile devices -->
    <h4 class="hidden-xs"><%= t('sidebar.project') %></h4>  
    <span class="project-label addition"><%= t('sidebar.addition') %></span>
    <span class="project-label acs-struct"><%= t('sidebar.acs_struct') %></span>
    <span class="project-label deck"><%= t('sidebar.deck') %></span>
    <span class="project-label pool"><%= t('sidebar.pool') %></span>
    <span class="project-label cover"><%= t('sidebar.cover') %></span>
    <span class="project-label window"><%= t('sidebar.window') %></span>
    <span class="project-label door"><%= t('sidebar.door') %></span>
    <span class="project-label wall"><%= t('sidebar.wall') %></span>
    <span class="project-label siding"><%= t('sidebar.siding') %></span>
    <span class="project-label floor"><%= t('sidebar.floor') %></span>              
  </div>

</div>


