<!-- Timeout modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only"><%= t('timeout.close') %></span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= t('timeout.session_expiring') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('timeout.alert_statement') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('timeout.yes_continue') %></button>
        <%= link_to t('timeout.no_restart'), '/' + I18n.locale.to_s + '/reset', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>