<!DOCTYPE html>
<html data-wf-site="532cb8f39ff60e067100012a">
<head>
  <meta charset="utf-8">
  <title>Homebase
    <% if Rails.env.development? %>
      [DEVELOPMENT]
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

  <!-- modal -->
  <%= render partial: "layouts/timeout" %>
  <!-- ./modal -->

  <!-- header -->
  <div class="container" id="header">
    <!-- render the header partial -->
    <%= render partial: "layouts/header" %>
  </div>
  <!-- ./header -->

  <div class="container" id="content">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <!-- footer -->
  <%= render "layouts/footer"%>
  <!-- ./footer -->

  </body>

</html>
