<!DOCTYPE html>
<html data-wf-site="532cb8f39ff60e067100012a">
  <head>
    <meta charset="utf-8">
    <title><%= t('views.layouts.application.title') %> <%= Rails.env.development? ? '[DEVELOPMENT]' : '' %></title>
    <!--
    <meta http-equiv="Cache-control" content="no-store">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <!-- modal -->
    <%= render partial: "layouts/timeout" %>
    <!-- ./modal -->

    <!-- alert -->
    <%= render partial: "layouts/alert" %>
    <!-- ./alert -->

    <!-- Any page-specific header should go here --> 
    <%= yield :head %>
    <!-- ./page-specific header -->

    <!-- header -->
    <div class="container" id="header">
      <!-- render the header partial -->
      <%= render partial: "layouts/header" %>
    </div>
    <!-- ./header -->

    <div class="container" id="content">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <!-- footer -->
    <%= render "layouts/footer"%>
    <!-- ./footer -->

    <!-- @TODO refactor this out to javascript asset pipeline -->
    <script>
      <% if @permit.to_bool(@permit.selected_addition) %>
        $(".addition").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_acs_struct) %>
        $(".acs-struct").toggleClass("displayed", true);
      <% end %>    
      <% if @permit.to_bool(@permit.selected_deck) %>
        $(".deck").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_pool) %>
        $(".pool").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_cover) %>
        $(".cover").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_window) %>
        $(".window").toggleClass("displayed", true);
      <% end %>    
      <% if @permit.to_bool(@permit.selected_door) %>
        $(".door").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_wall) %>
        $(".wall").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_siding) %>
        $(".siding").toggleClass("displayed", true);
      <% end %>
      <% if @permit.to_bool(@permit.selected_floor) %>
        $(".floor").toggleClass("displayed", true);
      <% end %>
    </script>
  </body>
</html>
