<!DOCTYPE html>
<html data-wf-site="532cb8f39ff60e067100012a">
<head>
  <meta charset="utf-8">
  <title>Homebase
    <% if Rails.env.development? %>
      [DEVELOPMENT]
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

  <!-- modal -->
  <%= render partial: "layouts/timeout" %>
  <!-- ./modal -->

  <%= yield :head %>
  
  <!-- header -->
  <div class="container" id="header">
    <!-- render the header partial -->
    <%= render partial: "layouts/header" %>
  </div>
  <!-- ./header -->

  <div class="container" id="content">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <!-- footer -->
  <%= render "layouts/footer"%>
  <!-- ./footer -->

  <!-- @TODO refactor this out to javascript asset pipeline -->
  <script>

    <% if session[:selected_addition] %>
      // debugger
      $(".addition").toggleClass("displayed");
      $(".pick-addition").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_acs_struct] %>
      // debugger
      $(".acs-struct").toggleClass("displayed");
      $(".pick-acs-struct").toggleClass("btn-success");
    <% end %>    
    <% if session[:selected_deck] %>
      // debugger
      $(".deck").toggleClass("displayed");
      $(".pick-deck").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_pool] %>
      // debugger
      $(".pool").toggleClass("displayed");
      $(".pick-pool").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_cover] %>
      // debugger
      $(".cover").toggleClass("displayed");
      $(".pick-cover").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_window] %>
      // debugger
      $(".window").toggleClass("displayed");
      $(".pick-window").toggleClass("btn-success");
    <% end %>    
    <% if session[:selected_door] %>
      // debugger
      $(".door").toggleClass("displayed");
      $(".pick-door").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_wall] %>
      // debugger
      $(".wall").toggleClass("displayed");
      $(".pick-wall").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_siding] %>
      // debugger
      $(".siding").toggleClass("displayed");
      $(".pick-siding").toggleClass("btn-success");
    <% end %>
    <% if session[:selected_floor] %>
      // debugger
      $(".floor").toggleClass("displayed");
      $(".pick-floor").toggleClass("btn-success");
    <% end %>
  </script>
  </body>

</html>
